#unexpectedError {
	position: absolute;
	top: 30%;
	left: 0px;
	right: 0px;

	#unexpectedErrorMessage {
		text-align: center;
		font-size: 1.2em;
		font-weight: bold;
	}

	#unexpectedErrorExtendedDescription {
		margin-top: 15px;
		text-align: center;
		font-size: 1.2em;
		font-weight: bold;	
	}
}