@import '../constants';

#unexpectedError {
	width: 300px;
	text-align: center;
	color: @koalityRed;
	font-size: 1.2em;
	font-weight: bold;

	#unexpectedErrorMessage {

	}

	#unexpectedErrorExtendedDescription {
		margin-top: 15px;
	}
}