@borderColor: #AAAAAA;

div.repositoryHeaderMenu {
	display: table-row;

	.repositoryHeaderMenuOptions {
		display: table;
		width: 100%;
		height: 100%;

		.blankRepositoryMenuOption {
			display: table-cell;
			border-bottom: 1px solid @borderColor;
		}

		.repositoryMenuOption {
			display: table-cell;
			width: 50px;
			text-align: center;
			vertical-align: middle;
			border-top: 1px solid @borderColor;
			border-right: 1px solid @borderColor;
			border-bottom: 1px solid @borderColor;

			&:nth-child(2) {
				border-left: 1px solid @borderColor;

				-moz-border-radius-topleft: 5px;
				-webkit-border-top-left-radius: 5px;
				border-top-left-radius: 5px;
			}

			&.selected {
				border-bottom: 0px;
			}

			.repositoryMenuOptionImage {
				width: 20px;
			}
		}
	}
}