@passedColor: #66A366;
@runningColor: #888888;
@failedColor:  #FF4D4D;

@passedBackgroundColor: rgba(0, 160, 0, 0.05);
@runningBackgroundColor: rgba(200, 200, 200, 0.2);
@failedBackgroundColor:  rgba(160, 0, 0, 0.05);


@fadeInOpacity: 1.0;
@keyframes fadeIn {
	from { opacity: 0.0; }
	to { opacity: @fadeInOpacity; }
}

@-moz-keyframes fadeIn {
	from { opacity: 0.0; }
	to { opacity: @fadeInOpacity; }
}

@-webkit-keyframes fadeIn {
	from { opacity: 0.0; }
	to { opacity: @fadeInOpacity; }
}

@-o-keyframes fadeIn {
	from { opacity: 0.0; }
	to { opacity: @fadeInOpacity; }
}


div.change {
	padding: 5px;
	text-align: center;
	opacity: @fadeInOpacity;
	border-bottom: #DDDDDD solid 1px;

	@fadeInTransitionTime: 1.0s;
	animation: fadeIn @fadeInTransitionTime;
	-moz-animation: fadeIn @fadeInTransitionTime;
	-webkit-animation: fadeIn @fadeInTransitionTime;
	-o-animation: fadeIn @fadeInTransitionTime;

	@backgroundColorTransitionTime: 1.0s;
	transition: background-color @backgroundColorTransitionTime ease-out;
	-moz-transition: background-color @backgroundColorTransitionTime ease-out;
	-webkit-transition: background-color @backgroundColorTransitionTime ease-out;
	-o-transition: background-color @backgroundColorTransitionTime ease-out;

	&.passed {
		&.selected { background-color: @passedBackgroundColor; }
		.statusText { color: @passedColor; }
	}

	&.running, &.queued {
		&.selected { background-color: @runningBackgroundColor; }
		.statusText { color: @runningColor; }
	}

	&.failed, &.failedToMerge {
		&.selected { background-color: @failedBackgroundColor; }
		.statusText { color: @failedColor; }
	}

	.number {
		font-size: 1.5em;
		color: #444444;
	}

	.statusText {
		font-size: 1.0em;
	}

	&:hover  { background-color: @runningBackgroundColor; }
}
