<html>
<head>
	<title>Love</title>
</head>
<body>
	<img src="/img/fresh.gif" />

	<script src="socket/socket.io.js"></script>
	<script src="js/libs/jquery.js"></script>
	<script src="js/libs/underscore.js"></script>
	<script src="js/libs/backbone/backbone.js"></script>
	<script src="js/libs/backbone/iosync.js"></script>
	<script src="js/libs/backbone/iobind.productionModeShouldUseMinified.js"></script>

	<script src="js/src/repository/build.js"></script>
	<script src="js/src/repository/repository.js"></script>

	<script>
	  var socket = io.connect('https://127.0.0.1?csrfToken={{csrfToken}}', { resource: 'socket'});
	  socket.on('news', function (data) {
	    console.log(data);
	    socket.emit('my other event', { my: 'data' });
	  });
	</script>
</body>
</html>