<!DOCTYPE html>
<html>
<head>
	<title>Love</title>
</head>
<body>
	<div id="mainContainer"></div>
	<!--<img src="/img/fresh.gif" />-->

	<link rel="stylesheet" type="text/css" href="css/libs/bootstrap.css" />	

	<link rel="stylesheet" type="text/css" href="css/src/main.css" />
	<link rel="stylesheet" type="text/css" href="css/src/repository/build/build.css" />
	<link rel="stylesheet" type="text/css" href="css/src/repository/build/list/search/buildsSearchFilterSelector.css" />
	<link rel="stylesheet" type="text/css" href="css/src/repository/build/list/search/buildsSearchFilter.css" />
	<link rel="stylesheet" type="text/css" href="css/src/repository/build/list/search/buildsSearch.css" />
	<link rel="stylesheet" type="text/css" href="css/src/repository/build/list/buildsList.css" />
	<link rel="stylesheet" type="text/css" href="css/src/repository/build/list/buildsListManager.css" />

	<link rel="stylesheet" type="text/css" href="css/src/repository/build/details/output/buildOutputLine.css" />
	<link rel="stylesheet" type="text/css" href="css/src/repository/build/details/output/buildOutput.css" />
	<link rel="stylesheet" type="text/css" href="css/src/repository/build/details/buildDetails.css" />

	<link rel="stylesheet" type="text/css" href="css/src/repository/repository.css" />

	<script src="socket/socket.io.js"></script>
	<script src="js/libs/stacktrace.js"></script>
	<script src="js/libs/assert.js"></script>
	<script src="js/libs/jquery.js"></script>
	<script src="js/libs/bootstrap.js"></script>
	<script src="js/libs/handlebars.js"></script>
	<script src="js/libs/underscore.js"></script>
	<script src="js/libs/backbone/backbone.js"></script>
	<script src="js/libs/backbone/iosync.js"></script>
	<script src="js/libs/backbone/iobind.productionModeShouldUseMinified.js"></script>

	<script>
	  var socket = io.connect('https://' + window.location.host + '?csrfToken={{csrfToken}}', { resource: 'socket'});
	  socket.on('news', function (data) {
	    console.log(data);
	    socket.emit('my other event', { my: 'data' });
	  });
	</script>

	<script src="js/src/repository/build/build.js"></script>
	<script src="js/src/repository/build/list/buildsFetcher.js"></script>
	<script src="js/src/repository/build/list/search/buildsQuery.js"></script>
	<script src="js/src/repository/build/list/search/buildsSearchFilterType.js"></script>
	<script src="js/src/repository/build/list/search/buildsSearchFilterSelector.js"></script>
	<script src="js/src/repository/build/list/search/buildsSearchFilter.js"></script>
	<script src="js/src/repository/build/list/search/buildsSearch.js"></script>
	<script src="js/src/repository/build/list/buildsList.js"></script>
	<script src="js/src/repository/build/list/buildsListManager.js"></script>

	<script src="js/src/repository/build/details/output/buildOutputLine.js"></script>
	<script src="js/src/repository/build/details/output/buildOutput.js"></script>
	<script src="js/src/repository/build/details/buildDetails.js"></script>

	<script src="js/src/repository/repository.js"></script>
</body>
</html>