@import '../constants';

#removeRepository {
	position: absolute;
	top: 25%;
	left: 0px;
	right: 0px;

	#firstStage {

		#removeWarningMessage {
			color: rgb(255, 0, 0);
			font-size: 1.2em;
			font-weight: bold;
			text-align: center;
		}

		#warningImages {
			margin-top: 20px;
			text-align: center;

			img {
				margin-left: 5px;
				margin-right: 5px;
				width: 20px;
				height: 20px;
			}
		}

		#removeRepositoryButtonContainer {
			margin-top: 20px;
			text-align: right;
		}
	}

	#secondStage {

		#repositoryRemovedMessage {
			font-size: 1.2em;
			text-align: center;
		}
	}
}