@koalityRed: #EF4129;
@koalityGreen: #8EC63F;
@koalityBlue: #13B5EA;
@koalityWhite: #E0E0E0;
@koalityGray: #808080;

@headerColor: #2D2D2E;
@backgroundColor: #212122;
@panelHeaderColor: #424245;
@panelColor: #2D2D2E;
@hoverColor: #424245;
