@koalityRed: #EF4129;
@koalityGreen: #8EC63F;
@koalityBlue: #13B5EA;

@headerColor: #2D2D2E;
@backgroundColor: #212122;
@panelHeaderColor: #424245;
@panelColor: #2D2D2E;

@textColor: #E0E0E0;
@textWeakColor: #808080;