
@koalityRed: #EF4129;

@koalityGreen: #8EC63F;

@koalityBlue: #13B5EA;

@koalityWhite: #FFFFFF;

@koalityGray: #696970;

@koalityBlack: #000000;





/*--- Background Colors ---*/
	

	/*-- Platform main header bg color --*/
	@headerBackground: #000000;

	@platformBackground: #212122;

	@panelHeaderBackground: #424245;

	@panelFooterBackground: @panelHeaderBackground;

	@panelBackground: #2D2D2E;

	@changeHover: #424245;

	@changeSelected: #595a5c;





/*--- Old variables
		@headerColor: #2D2D2E;
		@backgroundColor: #212122;
		@panelHeaderColor: #424245;
		@panelColor: #2D2D2E;
		@hoverColor: #424245;
--- */


@menuWidth: 200px;