#main {
	@headerHeight: 35px;

	position: fixed;
	left: 50%;
	margin-left: -500px;
	width: 1000px;
	height: 100%;

	#headerContanier {
		position: absolute;
		z-index: 100;
		top: 0px;
		left: 0px;
		right: 0px;
		height: @headerHeight;
	}	

	#contentContainer {
		position: absolute;
		z-index: 99;
		top: @headerHeight;
		left: 0px;
		right: 0px;
		bottom: 0px;
	}
}
