#main {
	@headerHeight: 35px;

	position: fixed;
	width: 100%;
	height: 100%;

	#headerContanier {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		height: @headerHeight;
	}	

	#contentContainer {
		position: absolute;
		top: @headerHeight;
		left: 0px;
		right: 0px;
		bottom: 0px;
	}
}
