@import 'constants';

#main {
	@contentMinWidth: 1100px;
	@contentWidth: 90%;
	@contentMaxWidth: 1400px;
	@headerHeight: 35px;

	position: fixed;
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: hidden;

	#headerContanier {
		position: absolute;
		z-index: 100;
		top: 0px;
		left: 0px;
		right: 0px;
		height: @headerHeight;
		background-color: @headerBackground;

		#headerCenterContainer {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			min-width: @contentMinWidth;
			width: @contentWidth;
			max-width: @contentMaxWidth;
			height: 100%;
		}
	}	

	#contentContainer {
		position: absolute;
		z-index: 99;
		top: @headerHeight;
		left: 0px;
		right: 0px;
		bottom: 0px;

		#contentCenterContainer {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			min-width: @contentMinWidth;
			width: @contentWidth;
			max-width: @contentMaxWidth;
			height: 100%;
		}
	}
}
