@import 'constants';

@font-face { font-family: 'Din'; font-style: normal; font-weight: 200; src: local('Din Light'), url('/font/din/light.woff') format('woff'); }
@font-face { font-family: 'Din'; font-style: normal; font-weight: 400; src: local('Din'), local('Din Regular'), url('/font/din/regular.woff') format('woff'); }
@font-face { font-family: 'Din'; font-style: normal; font-weight: 500; src: local('Din Medium'), url('/font/din/medium.woff') format('woff'); }
@font-face { font-family: 'Din'; font-style: normal; font-weight: 700; src: local('Din Bold'), url('/font/din/bold.woff') format('woff'); }
@font-face { font-family: 'PT Mono'; font-style: normal; font-weight: 400; src: local('PT Mono'), url('/font/ptMono/regular.woff') format('woff'); }

body {
	margin: 0px;
	padding: 0px;
	background-color: @platformBackground;
	color: @koalityWhite;
	font-family: 'Din', sans-serif;
	font-weight: normal;
	font-size: 14px;

	a:link { text-decoration: none; color: @koalityGreen; }
	a:visited { text-decoration: none; color: @koalityGreen; }
	a:hover { text-decoration: underline; color: @koalityGreen; }
	a:active { text-decoration: underline; color: @koalityGreen; }

	input {
		margin: 0px;
		padding: 6px;
		font-size: 1.0em;
		font-family: inherit;
		border: none;
		border-radius: @borderRadius;
	}

	textarea {
		margin: 0px;
		padding: 4px;
		font-size: 1.0em;
		border: 2px inset;
<<<<<<< HEAD
		font-family: inherit;
		border-radius: 5px;
		resize: none;
=======
		border-radius: @borderRadius;
>>>>>>> Many tweaks to styling. Padding and Spacing on Tables, underline to Add New Users page, font-size adjustments
	}

	button {
		display: inline-block;
		padding: 6px 10px;
		color: @koalityWhite;
		font-weight: bold;
		background-color: @koalityGreen;
		border: 0px;
		border-radius: @borderRadius;

		&:hover {
			color: @koalityWhite;
			background-color: @koalityDarkGreen;
			cursor: hand;
			cursor: pointer;
		}

		&:active {
			position:relative;
			top: 1px;
		}

		&:disabled {
			cursor: not-allowed;
			color: #909090;

			&:active {
				top: 0px;
			}
		}
	}
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.textSelectable {
	-webkit-touch-callout: default;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
