@import 'constants';

@font-face { font-family: 'Din'; font-style: normal; font-weight: 200; src: local('Din Light'), url('/font/din/light.woff') format('woff'); }
@font-face { font-family: 'Din'; font-style: normal; font-weight: 400; src: local('Din'), local('Din Regular'), url('/font/din/regular.woff') format('woff'); }
@font-face { font-family: 'Din'; font-style: normal; font-weight: 500; src: local('Din Medium'), url('/font/din/medium.woff') format('woff'); }
@font-face { font-family: 'Din'; font-style: normal; font-weight: 700; src: local('Din Bold'), url('/font/din/bold.woff') format('woff'); }
@font-face { font-family: 'PT Mono'; font-style: normal; font-weight: 400; src: local('PT Mono'), url('/font/ptMono/regular.woff') format('woff'); }

body {
	margin: 0px;
	padding: 0px;
	background-color: @platformBackground;
	color: @koalityWhite;
	font-family: 'Din', sans-serif;
	font-weight: normal;
	font-size: 12px;

	a:link { text-decoration: none; color: @koalityBlue; }
	a:visited { text-decoration: none; color: @koalityBlue; }
	a:hover { text-decoration: underline; color: @koalityBlue; }
	a:active { text-decoration: underline; color: @koalityBlue; }

	input {
		margin: 0px;
		padding: 4px;
		font-size: 1.0em;
		font-family: inherit;
		border: 2px inset;
		border-radius: 5px;
	}

	textarea {
		margin: 0px;
		padding: 4px;
		font-size: 1.0em;
		border: 2px inset;
		border-radius: 5px;
	}

	button {
		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
		background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
		background-color:#ededed;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #dcdcdc;
		display:inline-block;
		color:#505050;
		padding:6px 24px;
		font-weight: bold;
		text-shadow:1px 1px 0px #ffffff;

		&:hover {
			background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
			background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
			background-color:#dfdfdf;
		}

		&:active {
			position:relative;
			top: 1px;
		}

		&:disabled {
			cursor: not-allowed;
			color: #909090;

			&:active {
				top: 0px;
			}
		}
	}
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.textSelectable {
	-webkit-touch-callout: default;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
