#account {
	position: absolute;
	top: 25%;
	left: 0px;
	right: 0px;

	#accountBasic {

		#accountBasicButtonContainer {
			margin-top: 20px;
			text-align: right;
		}
	}

	#accountPassword {

		#accountPasswordButtonContainer {
			margin-top: 20px;
			text-align: right;
		}
	}

	#accountSshKeys {

		table {
			width: 400px;

			.aliasColumn {

			}

			.createdColumn {
				text-align: center;
			}

			.removeColumn {
				text-align: center;

				.removeLink {
					@linkBuffer: 8px;

					cursor: hand; cursor: pointer;
					padding-left: @linkBuffer;
					padding-right: @linkBuffer;
					font-width: bold;
				}
			}
		}

		#accountAddSshKeyButtonContainer {
			margin-top: 10px;
			text-align: right;
		}

		#accountOpenAddSshKeyModalContainel {
			margin-top: 15px;
			text-align: center;
		}
	}
}