#account {
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;

	#accountBasicButtonContainer {
		margin-top: 20px;
		text-align: right;
	}

	#accountPasswordButtonContainer {
		margin-top: 20px;
		text-align: right;
	}
}