@import '../constants';

#account {
	width: 800px;
	height: 380px;

	#accountOptions {
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0px;
		width: @menuWidth;
	}

	#accountContent {
		position: absolute;
		top: 0px;
		left: @menuWidth + @panelSpacing;
		right: 0px;
		bottom: 0px;
	}

	// position: absolute;
	// top: 25%;
	// left: 0px;
	// right: 0px;

	// #accountBasic {

	// 	#accountBasicButtonContainer {
	// 		margin-top: 20px;
	// 		text-align: right;
	// 	}
	// }

	// #accountPassword {

	// 	#accountPasswordButtonContainer {
	// 		margin-top: 20px;
	// 		text-align: right;
	// 	}
	// }

	// #accountSshKeys {

	// 	table {
	// 		width: 400px;

	// 		.aliasColumn {

	// 		}

	// 		.createdColumn {
	// 			text-align: center;
	// 		}

	// 		.removeColumn {
	// 			text-align: center;

	// 			.removeLink {
	// 				@linkBuffer: 8px;

	// 				cursor: hand; cursor: pointer;
	// 				padding-left: @linkBuffer;
	// 				padding-right: @linkBuffer;
	// 				font-width: bold;
	// 			}
	// 		}
	// 	}

	// 	#noSshKeysWarning {
	// 		margin-top: 30px;
	// 		margin-bottom: 25px;
	// 		font-size: 1.2em;
	// 		text-align: center;
	// 	}

	// 	#accountAddSshKeyButtonContainer {
	// 		margin-top: 10px;
	// 		text-align: right;
	// 	}

	// 	#accountOpenAddSshKeyModalContainer {
	// 		margin-top: 15px;
	// 		text-align: center;
	// 	}
	// }
}