div.consoleTextOutput {

	.titleContainer {
		@titleBoxShadowColor: #EAEAEA;
		box-shadow: 0px 0px 5px 5px @titleBoxShadowColor inset;
		-moz-box-shadow: 0px 0px 5px 5px @titleBoxShadowColor inset;
		-webkit-box-shadow: 0px 0px 5px 5px @titleBoxShadowColor inset;
		box-shadow: 0px 0px 5px 5px @titleBoxShadowColor inset;

		cursor: hand;
		cursor: pointer;

		position: relative;
		padding-left: 10px;
		padding-top: 8px;
		height: 30px;

		border-bottom: 1px solid #AAAAAA;

		&:last-child {
			border-bottom: 0px;
		}

		&.expanded {
			background-color: rgba(160, 0, 0, 0.05);
		}

		&:hover {
			background-color: rgba(160, 0, 0, 0.05);

			.expandCollapse {
				visibility: visible;
			}
		}

		.title {
			font-size: 1.5em;
		}

		.expandCollapse {
			position: absolute;
			visibility: hidden;
			top: 12px;
			right: 10px;
			color: #AAAAAA;
		}
	}

	.outputSlidingWindow {
		@expandCollapseTransitionTime: 1.0s;
		transition: height @expandCollapseTransitionTime ease-out;
		-moz-transition: height @expandCollapseTransitionTime ease-out;
		-webkit-transition: height @expandCollapseTransitionTime ease-out;
		-o-transition: height @expandCollapseTransitionTime ease-out;

		height: 0px;
		overflow-x: auto;
		background-color: #222222;
		color: #EEEEEE;

		.output {
			padding: 5px;
		}
	}

	&:last-child {
		margin-bottom: 20px;
	}
}