div.consoleTextOutput {

	.title {
		@titleBoxShadowColor: #EAEAEA;
		box-shadow: 0px 0px 5px 5px @titleBoxShadowColor inset;
		-moz-box-shadow: 0px 0px 5px 5px @titleBoxShadowColor inset;
		-webkit-box-shadow: 0px 0px 5px 5px @titleBoxShadowColor inset;
		box-shadow: 0px 0px 5px 5px @titleBoxShadowColor inset;

		cursor: hand;
		cursor: pointer;

		padding-left: 10px;
		padding-top: 8px;
		height: 30px;
		font-size: 1.5em;
	}

	.outputSlidingWindow {
		@expandCollapseTransitionTime: 1.0s;
		transition: height @expandCollapseTransitionTime ease-out;
		-moz-transition: height @expandCollapseTransitionTime ease-out;
		-webkit-transition: height @expandCollapseTransitionTime ease-out;
		-o-transition: height @expandCollapseTransitionTime ease-out;

		height: 0px;
		overflow: auto;
	}

	.output {

	}
}