[submodule "submodules/dulwich"]
	path = submodules/dulwich
	url = git@github.com:jchonphoenix/dulwich.git
[submodule "submodules/zerorpc"]
	path = submodules/zerorpc
	url = https://github.com/dotcloud/zerorpc-python.git
[submodule "submodules/cgit"]
	path = submodules/cgit
	url = git://github.com/git/git.git
