@bg-color: #f5f2f3;

body {
	background-image: url('../images/shattered.png');
	background-color: @bg-color;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;

	hr {
		color: gray;
		background-color: gray;
		border: 0;
		height: 3px;
		width: 900px;
	}
}

.page {
	.team {
		text-align: center;
		
		.section-content {
			position: relative;
			overflow: hidden;

			ol {
				padding: 0;
				
				li {
					width: 300px;
					display: inline-block;
					vertical-align: top;
					
					img {
						width: 200px;
					}
					
					.name {
						font-size: 18px;
						line-height: 18px;
						font-weight: 600;
						padding: 10px 0 5px 0;
					}

					.title {
						font-size: 14px;
						line-height: 14px;
						color: gray
					}
				}
			}
		}
	}
}