@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu'), url(/font/ubuntu/ubuntu.woff);
}

@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Code Pro'), url(/font/sourceCodePro/sourceCodePro.woff);
}

@font-face {
	font-family: 'lobster';
	font-style: normal;
	font-weight: 400;
	src: local('Lobster'), url(/font/lobster/lobster.woff);
}