body {
	background-image:url('/img/background.png');
}

#main {
	display: table;
	position: fixed;
	width: 100%;
	height: 100%;
	font-family: 'ubuntu';

	.headerContainer {
		display: table-row;
		height: 35px;
	}

	.contentContainer {
		display: table-row;
	}
}
