.prettyTable {
	display: table;

	.prettyTableTitleRow {
		font-weight: bold;
	}

	.prettyTableRow {

		&:nth-child(even) {
			background-color: #EEEEEE;
		}
	}

	.prettyTableRow, .prettyTableTitleRow {
		display: table-row;

		.prettyTableColumn {
			display: table-cell;
			padding-bottom: 5px;

			&:first-child {
				padding-left: 5px;
			}

			&:last-child {
				padding-right: 5px;
			}
		}
	}
}