div.accountPasswordPanel {
	margin-top: 50px;
	margin-left: 50px;

	.accountPasswordPanelContent {
		width: 450px;

		.saveAccountPasswordButtonContainer {
			margin-top: 20px;
			text-align: right;
		}
	}
}
