div.repositoryAdminMemberPermissionsPanel {
	width: 100%;
	border: 1px solid #DDDDDD;
	
	.permissionsTable {
		width: 100%;

		.readPermissionColumn {
			padding-right: 5px;
		}

		.readWritePermissionColumn {
			padding-left: 5px;
			padding-right: 5px;
		}

		.readWriteAdminPermissionColumn {
			padding-left: 5px;
		}
	}
}