div.repositoryAdminGeneralPanel {
	margin-top: 50px;
	margin-left: 50px;

	.repositoryAdminGeneralPanelContent {
		width: 400px;

		.saveDescriptionButtonContainer {
			margin-top: 20px;
			text-align: right;
		}
	}
}
