div.repositoryAdminInviteMembersPanel {
	width: 100%;
	
	.inviteForm {
		width: 100%;

		.inviteMembersField {
			display: inline;
			margin: 0px;
			width: 80%;
		}

		.inviteButton {
			display: inline;
		}
	}

	.repositoryInviteMembersSentText {
		display: none;
		padding-top: 5px;
		padding-left: 5px;
		text-align: left;
		color: #00AA00
	}

	.repositoryInviteMembersErrorText {
		display: none;
		padding-top: 5px;
		padding-left: 5px;
		text-align: left;
		color: #DD0000
	}
}