<!DOCTYPE html>
<html>
<head>
	<title>Love</title>
</head>
<body>
	<link href='https://fonts.googleapis.com/css?family=Ubuntu|Lobster|Knewave|Molle:400italic|Montserrat+Alternates|Finger+Paint|Source+Code+Pro' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="css/libs/bootstrap.css" />	

	<link rel="stylesheet" type="text/css" href="css/src/welcome/welcome.css" />

	<link rel="stylesheet" type="text/css" href="css/src/repository/build/build.css" />
	<link rel="stylesheet" type="text/css" href="css/src/repository/build/list/search/buildsSearchFilterSelector.css" />
	<link rel="stylesheet" type="text/css" href="css/src/repository/build/list/search/buildsSearchFilter.css" />
	<link rel="stylesheet" type="text/css" href="css/src/repository/build/list/search/buildsSearch.css" />
	<link rel="stylesheet" type="text/css" href="css/src/repository/build/list/buildsList.css" />
	<link rel="stylesheet" type="text/css" href="css/src/repository/build/list/buildsListManager.css" />

	<link rel="stylesheet" type="text/css" href="css/src/repository/build/details/output/buildOutputLine.css" />
	<link rel="stylesheet" type="text/css" href="css/src/repository/build/details/output/buildOutput.css" />
	<link rel="stylesheet" type="text/css" href="css/src/repository/build/details/buildDetails.css" />
	<link rel="stylesheet" type="text/css" href="css/src/repository/build/repositoryBuilds.css" />

	<link rel="stylesheet" type="text/css" href="css/src/repository/information/repositoryHeader.css" />
	<link rel="stylesheet" type="text/css" href="css/src/repository/repository.css" />

	<link rel="stylesheet" type="text/css" href="css/src/header/login/loginCreateAccountEmailSentPanel.css" />
	<link rel="stylesheet" type="text/css" href="css/src/header/login/loginBasicInformationPanel.css" />
	<link rel="stylesheet" type="text/css" href="css/src/header/login/loginPanel.css" />
	<link rel="stylesheet" type="text/css" href="css/src/header/login/loginHeaderOption.css" />
<!--
	<link rel="stylesheet" type="text/css" href="css/src/header/createAccount/createAccountPanel.css" />
	<link rel="stylesheet" type="text/css" href="css/src/header/createAccount/createAccount.css" />
-->	
	<link rel="stylesheet" type="text/css" href="css/src/header/headerMenu.css" />
	<link rel="stylesheet" type="text/css" href="css/src/header/header.css" />
	<link rel="stylesheet" type="text/css" href="css/src/main.css" />


	<script src="socket/socket.io.js"></script>
	<script src="js/libs/stacktrace.js"></script>
	<script src="js/libs/assert.js"></script>
	<script src="js/libs/jquery.js"></script>
	<script src="js/libs/bootstrap.js"></script>
	<script src="js/libs/handlebars.js"></script>
	<script src="js/libs/underscore.js"></script>
	<script src="js/libs/backbone/backbone.js"></script>
	<script src="js/libs/backbone/iosync.js"></script>
	<script src="js/libs/backbone/iobind.productionModeShouldUseMinified.js"></script>

	<script>
	  var socket = io.connect('https://' + window.location.host + '?csrfToken={{csrfToken}}', { resource: 'socket'});
	  socket.on('news', function (data) {
	    console.log(data);
	    socket.emit('my other event', { my: 'data' });
	  });
	</script>

	<script src="js/src/globalAccount.js"></script>

	<script src="js/src/welcome/welcome.js"></script>	

	<script src="js/src/repository/build/build.js"></script>
	<script src="js/src/repository/build/list/buildsFetcher.js"></script>
	<script src="js/src/repository/build/list/search/buildsQuery.js"></script>
	<script src="js/src/repository/build/list/search/buildsSearchFilterType.js"></script>
	<script src="js/src/repository/build/list/search/buildsSearchFilterSelector.js"></script>
	<script src="js/src/repository/build/list/search/buildsSearchFilter.js"></script>
	<script src="js/src/repository/build/list/search/buildsSearch.js"></script>
	<script src="js/src/repository/build/list/buildsList.js"></script>
	<script src="js/src/repository/build/list/buildsListManager.js"></script>

	<script src="js/src/repository/build/details/output/buildOutputLine.js"></script>
	<script src="js/src/repository/build/details/output/buildOutput.js"></script>
	<script src="js/src/repository/build/details/buildDetails.js"></script>

	<script src="js/src/repository/build/repositoryBuilds.js"></script>

	<script src="js/src/repository/information/repositoryHeader.js"></script>
	<script src="js/src/repository/repository.js"></script>

	<script src="js/src/header/account/accountHeaderOption.js"></script>

	<script src="js/src/header/login/loginCreateAccountEmailSentPanel.js"></script>
	<script src="js/src/header/login/loginAdvancedInformationPanel.js"></script>
	<script src="js/src/header/login/loginBasicInformationPanel.js"></script>
	<script src="js/src/header/login/loginPanel.js"></script>
	<script src="js/src/header/login/loginHeaderOption.js"></script>

<!--
	<script src="js/src/header/createAccount/createAccountPanelValidator.js"></script>
	<script src="js/src/header/createAccount/createAccountPanel.js"></script>
	<script src="js/src/header/createAccount/createAccount.js"></script>
-->
	<script src="js/src/header/headerMenu.js"></script>
	<script src="js/src/header/header.js"></script>
	<script src="js/src/main.js"></script>
</body>
</html>