<!DOCTYPE html>
<html>
<head>

<title>Love</title>
	
<link href='https://fonts.googleapis.com/css?family=Ubuntu|Lobster|Knewave|Molle:400italic|Montserrat+Alternates|Finger+Paint|Source+Code+Pro' rel='stylesheet' type='text/css'>
{{{cssFiles}}}

</head>
<body>
	
<script>var csrfToken = '{{csrfToken}}'</script>
{{{jsFiles}}}

</body>
</html>