<!DOCTYPE html>
<html>
<head>
	<title>Love</title>
</head>
<body>
	
<script>var csrfToken = '{{csrfToken}}'</script>

<link href='https://fonts.googleapis.com/css?family=Ubuntu|Lobster|Knewave|Molle:400italic|Montserrat+Alternates|Finger+Paint|Source+Code+Pro' rel='stylesheet' type='text/css'>

{{{cssFiles}}}

<script src='socket/socket.io.js'></script>
{{{jsFiles}}}

</body>
</html>