<!doctype html>
<html lang="en" ng-app="koalitySetup">
<head>
<meta charset="utf-8">
<title>Koality</title>
<style type="text/css">[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }</style>

<%- cssFiles %>

<style type="text/css">
	#installationWizard {
		width: 800px;
		height: 600px;
	}

	#installationWizardForm {
		margin-top: 30px;
		margin-left: 30px;
	}
</style>

</head>
<body>

	<div id="main">
		<div id="headerBackground"></div>

		<div id="centerContainer">
			<div id="headerContainer">
				<div id="header" ng-controller="Header" unselectable>
					<span id="headerTitle" ng-click="visitHome()">Koality</span>
				</div>
			</div>

			<div id="contentContainer">
				<div class="prettyCenteredPanel" id="installationWizard">
					<div class="prettyContent">
						<div class="prettyContentHeader prettyContentHeaderPadding">Installation Wizard</div>
						<div class="prettyContentBody">
							<div id="installationWizardForm" class="prettyForm">
								<div class="prettyFormRow">
									<div class="prettyFormLabel labelPadding">Domain name</div>
									<div class="prettyFormValue">
										<input type="text" placeholder="koality.company.com">
									</div>
								</div>
								<div class="prettyFormRow">
									<div class="prettyFormLabel labelPadding">AWS key</div>
									<div class="prettyFormValue">
										<input type="text" placeholder="aws key id">
									</div>
								</div>
								<div class="prettyFormRow">
									<div class="prettyFormLabel labelPadding">Aws secret key</div>
									<div class="prettyFormValue">
										<input type="text" placeholder="aws secret key">
									</div>
								</div>
							</div>
						</div>
						<div class="prettyContentFooter"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

<%- jsFiles %>

</body>
</html>