div.headerMenu {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
	font-size: 1.3em;
	font-weight: bold;

	.headerMenuOption {
		display: inline-block;
		margin-right: 30px;

		&:last-child {
			margin-right: 20px;
		}

		&:hover {
			color: #1199FF;
		}
	}
}