.prettyForm {
	display: table;
	font-size: 1.0em;

	.prettyFormRow {
		display: table-row;

		.prettyFormLabel {
			display: table-cell;
			padding-top: 5px;
			padding-right: 20px;
			vertical-align: top;
			text-align: right;
		}

		.prettyFormValue {
			display: table-cell;
			text-align: center;

			input {
				margin: 0px;
				width: 250px;
			}

			textarea {
				margin: 0px;
				width: 250px;
				height: 100px;
				resize: none;
			}

			.prettyFormErrorText {
				display: none;
				padding-top: 5px;
				padding-left: 5px;
				text-align: left;
				color: rgba(200, 0, 0, 1.0);

				&.visible {
					display: block;
				}
			}
		}
	}

	.prettyFormEmptyRow {
		height: 10px;
	}
}