body {
	margin: 0px;
	padding: 0px;
	background-image:url('/img/background.png');
	font-family: 'ubuntu';
	font-size: 12px;

	a:link { text-decoration: none; }
	a:visited { text-decoration: none; }
	a:hover { text-decoration: none; }
	a:active { text-decoration: none; }
}