<!DOCTYPE html>
<html>
<head>
	<title>Love</title>
</head>
<body>
	<div class="successMessage">Congratulations {{firstName}} {{lastName}}!  You have successfully created your account.</div>

	<div class="homeButtonContainer">
		<a class="btn homeButton" href="/">Go Home</a>
	</div>


	<link href='https://fonts.googleapis.com/css?family=Ubuntu|Lobster|Knewave|Molle:400italic|Montserrat+Alternates|Finger+Paint|Source+Code+Pro' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/libs/bootstrap.css" />	
	<link rel="stylesheet" type="text/css" href="css/src/verifyAccount/main.css" />
	<link rel="stylesheet" type="text/css" href="css/src/verifyAccount/successMessage.css" />
	<link rel="stylesheet" type="text/css" href="css/src/verifyAccount/homeButton.css" />

	<script src="js/libs/jquery.js"></script>
	<script src="js/libs/bootstrap.js"></script>
</body>
</html>