@import '../constants';

#header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;

	#headerTitle {
		cursor: hand; cursor: pointer;

		padding-left: 5px;
		padding-right: 20px;
		font-size: 28px;
		line-height: @headerHeight;

		&:active {
			position: relative;
			top: 1px;
		}
	}

	#headerOptions {
		display: table;
		position: absolute;
		top: 0px;
		right: 0px;
		height: 100%;

		.headerOption {
			cursor: hand; cursor: pointer;

			position: relative;
			display: table-cell;
			padding-left: 20px;
			padding-right: 20px;
			vertical-align: middle;
			text-align: center;
			font-size: 1.2em;
			font-weight: bold;

			@backgroundColorTransitionTime: 0.5s;
			transition: background-color @backgroundColorTransitionTime ease-out;
			-moz-transition: background-color @backgroundColorTransitionTime ease-out;
			-webkit-transition: background-color @backgroundColorTransitionTime ease-out;
			-o-transition: background-color @backgroundColorTransitionTime ease-out;

			&:hover {
				background-color: rgba(20, 20, 20, 0.75);
			}

			&:active {
				position: relative;
				top: 1px;
			}
		}
	}
}