div.headerMenu {
	display: table-cell;
	vertical-align: top;
	text-align: right;
	font-size: 1.2em;
	font-weight: bold;
	height: 100%;
	width: 500px;  // I DON'T LIKE THIS... WHY DO WE NEED A WIDTH HERE?

	.headerMenuOption {
		display: inline-block;
		position: relative;
		height: 100%;

		.headerMenuOptionTitle {
			cursor: hand;
			cursor: pointer;

			@backgroundColorTransitionTime: 0.5s;
			transition: background-color @backgroundColorTransitionTime ease-out;
			-moz-transition: background-color @backgroundColorTransitionTime ease-out;
			-webkit-transition: background-color @backgroundColorTransitionTime ease-out;
			-o-transition: background-color @backgroundColorTransitionTime ease-out;

			padding-top: 8px;
			padding-left: 15px;
			padding-right: 15px;
			height: 100%;

			&:hover {
				background-color: rgba(255, 255, 255, 0.4);
			}
		}
	}
}