div.repositoryAdminMembersPanel {
	width: 100%;
	height: 100%;
	
	.inviteMembers {
		padding: 30px;

		.inviteMembersTitle {
			font-size: 1.5em;
			margin-bottom: 10px;
		}

		.inviteMembersContent {
			margin-left: auto;
			margin-right: auto;
			width: 75%;
		}
	}
}