div.repositoryAdminInviteMembersPanel {
	width: 100%;
	
	.inviteForm {
		display: table;
		width: 100%;

		.inviteMembersField {
			display: table-cell;
			margin: 0px 10px 0px 0px;
		}

		.inviteButton {
			display: table-cell;
			margin: 0px;
			width: 50px;
		}
	}

	.inviteMembersHint {
		margin-top: 5px;
		color: #999999;
	}
}