div.repositoryAdminInviteMembersPanel {
	width: 100%;
	
	.inviteForm {
		display: table;
		width: 100%;

		.inviteMembersFieldContainer {
			display: table-cell;

			.inviteMembersField {
				margin: 0px;
				width: 95%;
			}
		}

		.inviteButtonContainer {
			display: table-cell;
			width: 50px;

			.inviteButton {

			}
		}
	}

	.inviteMembersHint {
		margin-top: 5px;
		padding-left: 5px;
		color: #999999;
	}
}