#loginButtonContainer {
	width: 400px;
	text-align: right;
}

#loginMemberOptions {
	margin-top: 20px;
	text-align: center;

	.memberOptionsTitle {
		padding-right: 10px;
	}

	.createAccountOption {
		padding-right: 5px;
	}

	.recoverPasswordOption {
		padding-left: 5px;
	}
}
