@informationBackgroundColor: #AAD7EC;
@successBackgroundColor: #36D536;
@warningBackgroundColor: #E7F01B;
@errorBackgroundColor: #E02424;


@fadeInOpacity: 0.8;
@keyframes fadeIn { 
	from { opacity: 0.0; }
	to { opacity: @fadeInOpacity; }
}

@-moz-keyframes fadeIn {
	from { opacity: 0.0; }
	to { opacity: @fadeInOpacity; }
}

@-webkit-keyframes fadeIn {
	from { opacity: 0.0; }
	to { opacity: @fadeInOpacity; }
}

@-o-keyframes fadeIn {
	from { opacity: 0.0; }
	to { opacity: @fadeInOpacity; }
}


@keyframes fadeOut { 
	from { opacity: @fadeInOpacity }
	to { opacity: 0.0; }
}

@-moz-keyframes fadeOut { 
	from { opacity: @fadeInOpacity }
	to { opacity: 0.0; }
}

@-webkit-keyframes fadeOut { 
	from { opacity: @fadeInOpacity }
	to { opacity: 0.0; }
}

@-o-keyframes fadeOut { 
	from { opacity: @fadeInOpacity }
	to { opacity: 0.0; }
}


div.prettyNotification {
	margin-bottom: 8px;
	width: 200px;
	min-height: 50px;
	max-height: 200px;
	text-align: center;
	opacity: @fadeInOpacity;

	@fadeInTransitionTime: 1.2s;
	animation: fadeIn @fadeInTransitionTime ease-out;
	-moz-animation: fadeIn @fadeInTransitionTime ease-out;
	-webkit-animation: fadeIn @fadeInTransitionTime ease-out;
	-o-animation: fadeIn @fadeInTransitionTime ease-out;

	.prettyNotificationContainer {
		width: 100%;
		height: 100%;
		border-radius: 5px;

		box-shadow: 2px 2px 2px #808080;
		-moz-box-shadow: 2px 2px 2px #808080;
		-webkit-box-shadow: 2px 2px 2px #808080;

		.notificationText {
			padding: 10px 20px 10px 20px;
			font-size: 1.2em;
			color: #101010;
		}

		&.information { background-color: @informationBackgroundColor; }
		&.success { background-color: @successBackgroundColor; }
		&.warning { background-color: @warningBackgroundColor; }
		&.error { background-color: @errorBackgroundColor; }
	}

	&:hover  {
		opacity: 1.0;
	}

	&.fadeOut {
		opacity: 0.0;

		@fadeOutTransitionTime: 0.8s;
		animation: fadeOut @fadeOutTransitionTime ease-in;
		-moz-animation: fadeOut @fadeOutTransitionTime ease-in;
		-webkit-animation: fadeOut @fadeOutTransitionTime ease-in;
		-o-animation: fadeOut @fadeOutTransitionTime ease-in;
	}
}