#admin {
	position: absolute;
	top: 20%;
	left: 0px;
	right: 0px;

	#adminRepositories {

		#repositoriesTableContainer {
			max-height: 395px;
			overflow: auto;

			table {
				width: 400px;

				.title {

					.nameColumn, .createdColumn {
						cursor: hand; cursor: pointer;
					}
				}

				.nameColumn {

				}

				.createdColumn {
					text-align: center;
				}

				.removeColumn {
					text-align: center;

					.removeLink {
						@linkBuffer: 8px;

						cursor: hand; cursor: pointer;
						padding-left: @linkBuffer;
						padding-right: @linkBuffer;
						font-width: bold;
					}
				}
			}
		}

		#addRepositoryButtonContainer {
			margin-top: 15px;
			text-align: center;
		}
	}

	#adminMembers {

		#membersTableContainer {
			// max-height: 395px;
			max-height: 195px;
			overflow: auto;

			table {
				width: 600px;

				.title {

					.nameColumn, .emailColumn, .addedColumn {
						cursor: hand; cursor: pointer;
					}
				}

				.nameColumn {

				}

				.emailColumn {
					text-align: center;
				}

				.addedColumn {
					text-align: center;	
				}

				.removeColumn {
					text-align: center;

					.removeLink {
						@linkBuffer: 8px;

						cursor: hand; cursor: pointer;
						padding-left: @linkBuffer;
						padding-right: @linkBuffer;
						font-width: bold;
					}
				}
			}
		}

		#addMembers {

			#addMembersDescription {
				font-size: 1.1em;
				text-align: center;
			}

			#membersToAddEmails {
				margin-top: 20px;
				width: 330px;
				height: 150px;
				resize: none;
			}

			#addMembersButtonContainer {
				margin-top: 10px;
				text-align: right;
			}

			#addMembersModalButtonContainer {
				margin-top: 15px;
				text-align: center;
			}

			#addMembersEmailSentMessage {
				font-size: 1.1em;
				text-align: center;
			}
		}
	}
}
