@import '../constants';

#admin {
	width: 800px;
	height: 380px;

	#adminOptions {
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0px;
		width: @menuWidth;
	}

	#adminUsers, #adminRepositories {
		position: absolute;
		top: 0px;
		left: @menuWidth + @panelSpacing;
		right: 0px;
		bottom: 0px;
	}

	#adminUsers {
		#addUsersLink {
			cursor: hand;
			cursor: pointer;
			position: absolute;
			right: 24px;
			font-size: 14px;
			color: @koalityGreen;

			&:hover {
				text-decoration: underline;
			}
		}

		#adminUsersContent {
			width: 100%;
			height: 100%;
			overflow-y: auto;

			table {
				width: 100%;
				table-layout: fixed;

				.title {
					.nameColumn, .emailColumn, .createdColumn {
						cursor: hand;
						cursor: pointer;
					}
				}

				.nameColumn {
					width: 180px;
				}

				.emailColumn {

				}

				.createdColumn {
					width: 80px;
				}

				.removeColumn {
					width: 70px;

					.removeLink {
						cursor: hand;
						cursor: pointer;
						color: @koalityRed;
					}
				}
			}
		}

		#adminAddUsers {
			width: 500px;
			height: 300px;

			#adminAddUsersContent {
				margin-top: 30px;
				margin-left: 30px;

				#adminAddUsersForm {
					@inputWidth: 360px;

					textarea {
						width: @inputWidth;
						height: 130px;
					}
				}

				#adminAddUsersButtonContainer {
					margin-top: 20px;
					margin-left: 55px;
					margin-right: 45px;
					text-align: right;

					#adminAddUsersErrorMessage {
						float: left;
						color: @koalityRed;
						font-size: 1.1em;
						font-weight: bold;
						text-align: left;
					}
				}
			}
		}
	}

	#adminRepositories {
		#addRepositoryLink {
			cursor: hand;
			cursor: pointer;
			position: absolute;
			right: 24px;
			font-size: 14px;
			color: @koalityGreen;

			&:hover {
				text-decoration: underline;
			}
		}

		#adminRepositoriesContent {
			width: 100%;
			height: 100%;
			overflow-y: auto;

			table {
				width: 100%;
				table-layout: fixed;

				.title {
					.nameColumn, .createdColumn {
						cursor: hand;
						cursor: pointer;
					}
				}

				.nameColumn {

				}

				.createdColumn {
					width: 80px;
				}

				.removeColumn {
					width: 70px;

					.removeLink {
						cursor: hand;
						cursor: pointer;
						color: @koalityRed;
					}
				}
			}
		}

		#adminAddRepository {
			width: 500px;
			height: 300px;

			#adminAddRepositoryContent {
				margin-top: 30px;
				margin-left: 30px;

				#adminAddRepositoryForm {
					@inputWidth: 340px;

					input {
						width: @inputWidth;
					}
				}

				#adminAddRepositoryButtonContainer {
					margin-top: 20px;
					margin-left: 55px;
					margin-right: 35px;
					text-align: right;
				}
			}
		}
	}
}