div.accountSshKeysPanel {
	margin-top: 50px;
	margin-left: 50px;

	.accountSshKeysPanelContent {
		width: 500px;

		.sshKeysTable {
			width: 100%;

			.aliasColumn {
				// width: 60px;
				// text-align: center;
			}

			.createdDateColumn {
				// width: 60px;
				// text-align: center;
			}

			.removeKeyColumn {
				width: 70px;
				text-align: center;
			}
		}
	}
}
