div.accountSshKeysPanel {
	margin-top: 50px;
	margin-left: 50px;

	.accountSshKeysPanelContent {
		width: 400px;

		.saveAccountSshKeyButtonContainer {
			margin-top: 20px;
			text-align: right;
		}
	}
}
