#repository {
	@panelBackgroundColor: rgba(30, 30, 30, 0.75);

	width: 100%;
	height: 100%;

	#repositoryHeaderPanel, #repositoryChangesPanel, #repositoryChangeDetailsPanel {
		background-color: @panelBackgroundColor;
		border-radius: 4px;

		@boxShadowBlur: 2px;
		@boxShadowSpread: 2px;
		@boxShadowColor: #101010;
		box-shadow: 0 2px @boxShadowBlur @boxShadowSpread @boxShadowColor;
		-moz-box-shadow: 0 2px @boxShadowBlur @boxShadowSpread @boxShadowColor;
		-webkit-box-shadow: 0 2px @boxShadowBlur @boxShadowSpread @boxShadowColor;
	}

	#repositoryHeaderPanel {
		position: absolute;
		top: 8px;
		left: 8px;
		right: 8px;
		height: 40px;

		#repositoryHeaderTitle {
			display: inline-block;
			margin-top: 7px;
			margin-left: 10px;
			font-size: 1.8em;
		}

		#repositoryHeaderLink {
			float: right;
			// display: inline-block;
			margin-top: 7px;
			margin-right: 10px;

			img {
				width: 30px;
				vertical-align: top;
			}

			input {
				width: 300px;
				vertical-align: top;
			}
		}
	}	

	#repositoryChangesPanel {
		@bottomBorderColor: rgba(109, 113, 131, 0.14);

		position: absolute;
		top: 58px;
		left: 8px;
		bottom: 10px;
		width: 175px;

		#repositoryChangesSearch {
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			height: 35px;
			border-bottom: 1px solid @bottomBorderColor;

			img {
				position: absolute;
				top: 6px;
				left: 5px;
				width: 22px;
			}

			input {
				position: absolute;
				top: 0px;
				left: 30px;
				right: 0px;
				bottom: 0px;
				color: #D0D0D0;
				font-size: 18px;
				border: none;
				background-color: rgba(0, 0, 0, 0.0);

				&:focus {
					outline: none;
				}
			}
		}

		#repositoryChanges {
			position: absolute;
			top: 40px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			overflow-y: auto;

			.repositoryChange {
				// @startColor: rgba(0, 184, 255, 0.4);
				// @finalColor: rgba(0, 184, 255, 1.0);
				@startColor: rgba(208, 208, 208, 0.4);
				@finalColor: rgba(208, 208, 208, 1.0);
				@keyframes heartbeat { 
					from { color: @startColor; }
					to { color: @finalColor; }
				}
				@-moz-keyframes heartbeat { 
					from { color: @startColor; }
					to { color: @finalColor; }
				}
				@-webkit-keyframes heartbeat { 
					from { color: @startColor; }
					to { color: @finalColor; }
				}
				@-o-keyframes heartbeat { 
					from { color: @startColor; }
					to { color: @finalColor; }
				}

				height: 35px;
				color: #D0D0D0;
				text-align: center;
				font-size: 14px;
				line-height: 35px;
				font-weight: bold;
				border-bottom: 1px solid @bottomBorderColor;

				@backgroundColorTransitionTime: 0.5s;
				transition: background-color @backgroundColorTransitionTime ease-out;
				-moz-transition: background-color @backgroundColorTransitionTime ease-out;
				-webkit-transition: background-color @backgroundColorTransitionTime ease-out;
				-o-transition: background-color @backgroundColorTransitionTime ease-out;

				&:hover {
					background-color: rgba(20, 20, 20, 0.75);
				}

				&.selected {
					background-color: rgba(20, 20, 20, 0.75);
				}

				&.failed {
					color: rgba(160, 0, 0, 1.0);
				}

				&.queued {
					color: @startColor;

					@heartbeatSpeed: 3.0s;
					@heartbeatDelay: 0.0s;
					animation: heartbeat @heartbeatSpeed ease-out @heartbeatDelay infinite alternate;
					-moz-animation: heartbeat @heartbeatSpeed ease-out @heartbeatDelay infinite alternate;
					-webkit-animation: heartbeat @heartbeatSpeed ease-out @heartbeatDelay infinite alternate;
					-o-animation: heartbeat @heartbeatSpeed ease-out @heartbeatDelay infinite alternate;
				}

				&.running {
					color: @startColor;

					@heartbeatSpeed: 1.5s;
					@heartbeatDelay: 0.0s;
					animation: heartbeat @heartbeatSpeed ease-out @heartbeatDelay infinite alternate;
					-moz-animation: heartbeat @heartbeatSpeed ease-out @heartbeatDelay infinite alternate;
					-webkit-animation: heartbeat @heartbeatSpeed ease-out @heartbeatDelay infinite alternate;
					-o-animation: heartbeat @heartbeatSpeed ease-out @heartbeatDelay infinite alternate;
				}

				&.passed {
					
				}
			}
		}
	}

	#repositoryChangeDetailsPanel {
		position: absolute;
		top: 58px;
		left: 193px;
		right: 8px;
		bottom: 10px;
	}
}