div.verifyAccount {
	display: table-cell;

	.verifyAccountContent {
		margin-top: 15%;
		margin-left: auto;
		margin-right: auto;
		padding: 30px 40px 20px 40px;
		width: 450px;
		text-align: center;

		.congratulationsMessage {
			padding-bottom: 30px;
			font-size: 1.5em;
			font-weight: bold;
		}

		.congratulationsImage {
			width: 400px;
		}
	}
}
