@import 'constants';


div.buildsListManager {
	display: table;
	height: 100%;
	border-right: @strongBorderColor solid 1px;

	margin-top: 100px;

	.buildsSearchContainer {
		display: table-row;
		height: 35px;
	}

	.buildsListContainer {
		display: table-row;
	}
}