@import 'constants';


div.buildsSearch {
	width: 100%;
	height: 25px;
	// margin-right: 5px;
	// border-right: @strongBorderColor solid 1px;

	.searchImage {
		height: 20px;
	}

	.searchField {
		float: right;
	}
}