@import 'constants';


div.buildsSearch {
	width: 100%;

	.searchImage {
		height: 20px;
	}

	.searchField {
		float: right;
	}

	.criticalImage {
		height: 20px;
	}

	.userImage {
		height: 20px;
	}

	.everyoneImage {
		height: 20px;
	}
}