@import 'constants';


div.buildsListManager {
	display: table;
	width: 160px;
	height: 100%;
	border-right: @strongBorderColor solid 1px;

	.buildsSearchContainer {
		display: table-row;
		height: 28px;
	}

	.buildsListContainer {
		display: table-row;
	}
}