@import 'constants';


div.buildsSearch {
	width: 100%;

	.dropdown {
		margin-left: 4px;
		float: left;
	}

	.searchImage {
		padding-top: 2px;
		height: 18px;
	}

	.searchField {
		margin-right: 4px;
		float: right;
		width: 115px;
		font-size: 1.0em;
	}
}