@import '../constants';

.prettyOption {
	@height: 40px;
	@toothWidth: @height * .35;

	cursor: hand; cursor: pointer;

	position: relative;
	width: 100%;
	height: @height;

	.prettyOptionContents {
		@transitionTime: 0.25s;
		transition: all @transitionTime ease-in-out;
		-moz-transition: all @transitionTime ease-in-out;
		-webkit-transition: all @transitionTime ease-in-out;
		-o-transition: all @transitionTime ease-in-out;

		position: absolute;
		top: 0px;
		left: 0px;
		right: @toothWidth;
		bottom: 0px;
		padding: 0px 12px 0px 12px;
		color: @koalityGray;
		line-height: @height;
		font-weight: bold;
		background-color: @panelColor;
		border-bottom: 1px solid @backgroundColor;

		.prettyOptionText {
			display: inline;
			font-size: 18px;
		}

		.prettyOptionSubtext {
			display: inline;
			padding-left: 5px;
			font-size: 12px;
		}

		.prettyOptionArrow {
			@marginRightTransitionTime: 0.25s;
			@borderColorTransitionTime: 0.25s;
			transition: margin-right @marginRightTransitionTime ease-in-out,
				border-color @borderColorTransitionTime ease-in-out;
			-moz-transition: margin-right @marginRightTransitionTime ease-in-out,
				border-color @borderColorTransitionTime ease-in-out;
			-webkit-transition: margin-right @marginRightTransitionTime ease-in-out,
				border-color @borderColorTransitionTime ease-in-out;
			-o-transition: margin-right @marginRightTransitionTime ease-in-out,
				border-color @borderColorTransitionTime ease-in-out;

			margin-top: 17px;
			margin-right: 5px;
			float: right;
			display: block;
			width: 5px;
			height: 5px;
			border-top: 2px solid @koalityGray;
			border-right: 2px solid @koalityGray;

			transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
		}
	}

	.prettyOptionTooth {
		@transitionTime: 0.25s;
		transition: all @transitionTime ease-in-out;
		-moz-transition: all @transitionTime ease-in-out;
		-webkit-transition: all @transitionTime ease-in-out;
		-o-transition: all @transitionTime ease-in-out;

		position: absolute;
		top: 0px;
		right: @toothWidth;
		bottom: 0px;
		width: 0px;
		height: 0px;

		border-left: 0px solid @panelColor;
		border-top: @height/2 solid transparent;
		border-bottom: @height/2 solid transparent;
	}

	&.failed {
		.prettyOptionContents {
			color: @koalityRed;

			.prettyOptionArrow {
				border-color: @koalityRed;
			}			
		}
	}

	&:hover {

		.prettyOptionContents {
			color: @koalityWhite;
			background-color: @hoverColor;

			.prettyOptionArrow {
				margin-right: -5px;
				border-color: @koalityWhite;
			}
		}

		.prettyOptionTooth {
			right: 0px;

			border-left: @toothWidth solid @hoverColor;
			border-top: @height/2 solid transparent;
			border-bottom: @height/2 solid transparent;
		}

		&.passed {
			.prettyOptionContents {
				color: @koalityGreen;

				.prettyOptionArrow {
					border-color: @koalityGreen;
				}
			}
		}

		&.failed {

			.prettyOptionContents {
				color: @koalityRed;

				.prettyOptionArrow {
					border-color: @koalityRed;
				}			
			}
		}
	}

	&.selected {

		.prettyOptionContents {
			color: @koalityWhite;
			background-color: @hoverColor;

			.prettyOptionArrow {
				margin-right: -5px;
				border-color: @koalityWhite;
			}
		}

		.prettyOptionTooth {
			right: 0px;

			border-left: @toothWidth solid @hoverColor;
			border-top: @height/2 solid transparent;
			border-bottom: @height/2 solid transparent;
		}

		&.passed {

			.prettyOptionContents {
				color: @koalityWhite;
				background-color: @koalityGreen;

				.prettyOptionArrow {
					border-color: @koalityWhite;
				}
			}

			.prettyOptionTooth { 
				border-left-color: @koalityGreen;
			}
		}

		&.failed {

			.prettyOptionContents {
				color: @koalityWhite;
				background-color: @koalityRed;

				.prettyOptionArrow {
					border-color: @koalityWhite;
				}
			}

			.prettyOptionTooth {
				border-left-color: @koalityRed;
			}
		}
	}
}