.prettyForm {
	display: table;
	margin-left: auto;
	margin-right: auto;

	.prettyFormRow {
		display: table-row;

		&:last-child {
			.prettyFormValue {
				padding-bottom: 0px;
			}
		}

		.prettyFormLabel {
			display: table-cell;
			padding-right: 15px;
			vertical-align: top;
			text-align: right;
			font-weight: bold;

			&.labelPadding {
				padding-top: 6px;
			}
		}

		.prettyFormValue {
			display: table-cell;
			text-align: left;
			vertical-align: middle;
			padding-bottom: 15px;

			input[type="text"], input[type="search"], input[type="email"], input[type="password"] {
				width: 250px;
			}

			textarea {
				width: 250px;
				height: 100px;
				resize: none;
			}

			.prettyFormErrorText {
				display: none;
				padding-top: 5px;
				padding-left: 5px;
				text-align: left;
				color: rgba(200, 0, 0, 1.0);

				&.visible {
					display: block;
				}
			}
		}
	}
}