.prettyTable {
	border-spacing: 0px;

	.title {
		font-size: 1.1em;
		font-weight: bold;

		td {
			padding-bottom: 5px;
		}
	}

	tr {
		td {
			padding-top: 3px;
			padding-bottom: 3px;

			&:first-child {
				padding-left: 10px;
			}
		}

		&:nth-child(even) {
			background-color: rgba(38, 38, 38, 1.0);
		}
	}
}