@import '../constants';

.prettyForm {
	display: table;

	&.center {
		margin-left: auto;
		margin-right: auto;
	}

	.prettyFormRow {
		@bottomPadding: 15px;

		display: table-row;

		&:last-child {
			.prettyFormValue {
				padding-bottom: 0px;
			}
		}

		.prettyFormLabel {
			display: table-cell;
			padding-right: 15px;
			color: @koalityGray;
			text-align: left;
			padding-bottom: @bottomPadding;

			&.labelPadding {
				@paddingTop: 6px;
				padding-top: @paddingTop;
				padding-bottom: @bottomPadding - @paddingTop;
			}

		}

		.prettyFormValue {
			display: table-cell;
			text-align: left;
			vertical-align: top;
			padding-bottom: @bottomPadding;

			input[type="text"], input[type="search"], input[type="email"], input[type="password"], input[type="number"] {
				width: 250px;
			}

			textarea {
				width: 250px;
				height: 100px;
				resize: none;
			}

			.prettyFormError {
				cursor: help;

				display: inline-block;
				margin-top: 5px;
				margin-left: 5px;
				visibility: hidden;
				vertical-align: top;

				img {
					width: 20px;
					height: 20px;
				}

				&.visible {
					visibility: visible;
				}
			}
		}
	}
}