@import '../constants';

@menuHeaderHeight: 40px;
@menuFooterHeight: 8px;

.prettyMenu {
	@optionHeight: 44px;
	@toothWidth: @optionHeight * .35;

	position: relative;
	width: @menuWidth;
	height: 100%;

	.prettyMenuBackgroundPanel {
		position: absolute;
		z-index: 1;
		top: @menuHeaderHeight;
		left: 0px;
		right: @toothWidth;
		bottom: @menuFooterHeight;
		background-color: @panelBackground;
	}

	.prettyMenuHeader {
		position: absolute;
		z-index: 100;
		top: 0px;
		left: 0px;
		right: @toothWidth;
		height: @menuHeaderHeight;
		background-color: @panelHeaderBackground;
		border-bottom: 1px solid @platformBackground;
		border-top-left-radius: @borderRadius;
		border-top-right-radius: @borderRadius;
		color: @koalityWhite;
		font-size: 18px;
		line-height: @menuHeaderHeight;

		&.prettyMenuHeaderPadding {
			padding-left: 8px;
		}

		.prettyMenuHeaderBuffer {
			position: absolute;
			z-index: 100;
			top: 0px;
			right: -@toothWidth;
			width: @toothWidth;
			height: @menuHeaderHeight + 1;

			background: linear-gradient(to bottom, fade(@platformBackground, 100%) 0%, fade(@platformBackground, 0%) 100%);
			background: -moz-linear-gradient(top, fade(@platformBackground, 100%) 0%, fade(@platformBackground, 0%) 100%);
			background: -webkit-linear-gradient(top, fade(@platformBackground, 100%) 0%, fade(@platformBackground, 0%) 100%);
			background: -o-linear-gradient(top, fade(@platformBackground, 100%) 0%, fade(@platformBackground, 0%) 100%);
			background: -ms-linear-gradient(top, fade(@platformBackground, 100%) 0%, fade(@platformBackground, 0%) 100%);
		}
	}

	.prettyMenuOptions {
		position: absolute;
		z-index: 99;
		top: @borderRadius;
		left: 0px;
		right: 0px;
		bottom: @borderRadius;
		overflow: hidden;

		.prettyMenuOptionsScrollOuterWrapper {
			@scrollbarHideWidth: 25px;

			position: absolute;
			top: 0px;
			left: 0px;
			right: -@scrollbarHideWidth;
			bottom: 0px;
			overflow-y: auto;

			.prettyMenuOptionsScrollInnerWrapper {
				padding-top: @menuHeaderHeight - @borderRadius;
				padding-bottom: @menuFooterHeight - @borderRadius;
				width: @menuWidth;

				.prettyMenuOption {
					cursor: hand; cursor: pointer;

					display: block;
					position: relative;
					width: 100%;
					height: @optionHeight;

					.prettyMenuOptionContents {
						@transitionTime: 0.25s;
						transition: all @transitionTime ease-in-out;
						-moz-transition: all @transitionTime ease-in-out;
						-webkit-transition: all @transitionTime ease-in-out;
						-o-transition: all @transitionTime ease-in-out;

						position: absolute;
						top: 0px;
						left: 0px;
						right: @toothWidth;
						bottom: 0px;
						padding: 2px 12px 0px 12px;
						color: @koalityGray;
						line-height: 36px;
						background-color: @panelBackground;
						border-bottom: 1px solid @platformBackground;

						&.offsetText {
							line-height: 40px;
						}

						.prettyMenuOptionIdentifier {
							display: inline;
							font-size: 18px;
						}

						.prettyMenuOptionText {
							display: inline;
							padding-left: 2px;
							font-size: 14px;
						}

						.spinnerContainer {
							position: absolute;
							top: 0px;
							right: 20px;
							width: @optionHeight;
							height: @optionHeight;
						}

						.prettyMenuOptionArrow {
							@rightTransitionTime: 0.25s;
							@borderColorTransitionTime: 0.25s;
							transition: right @rightTransitionTime ease-in-out,
								border-color @borderColorTransitionTime ease-in-out;
							-moz-transition: right @rightTransitionTime ease-in-out,
								border-color @borderColorTransitionTime ease-in-out;
							-webkit-transition: right @rightTransitionTime ease-in-out,
								border-color @borderColorTransitionTime ease-in-out;
							-o-transition: right @rightTransitionTime ease-in-out,
								border-color @borderColorTransitionTime ease-in-out;

							position: absolute;
							top: 18px;
							right: 10px;
							width: 5px;
							height: 5px;
							border-top: 2px solid @koalityGray;
							border-right: 2px solid @koalityGray;

							transform: rotate(45deg);
							-moz-transform: rotate(45deg);
							-webkit-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							-o-transform: rotate(45deg);
						}
					}

					.prettyMenuOptionTooth {
						@transitionTime: 0.25s;
						transition: all @transitionTime ease-in-out;
						-moz-transition: all @transitionTime ease-in-out;
						-webkit-transition: all @transitionTime ease-in-out;
						-o-transition: all @transitionTime ease-in-out;

						position: absolute;
						top: 0px;
						left: @menuWidth - @toothWidth;
						bottom: 0px;
						width: 0px;
						height: 0px;

						border-left: 0px solid @panelBackground;
						border-top: @optionHeight/2 solid transparent;
						border-bottom: @optionHeight/2 solid transparent;
					}

					&.red {
						.prettyMenuOptionContents {
							color: @koalityRed;

							.prettyMenuOptionArrow {
								border-color: @koalityRed;
							}			
						}
					}

					&:hover {

						.prettyMenuOptionContents {
							color: @koalityWhite;
							background-color: @changeHover;

							.prettyMenuOptionArrow {
								right: 2px;
								border-color: @koalityWhite;
							}
						}

						.prettyMenuOptionTooth {
							border-left: @toothWidth solid @changeHover;
						}

						&.green {
							.prettyMenuOptionContents {
								color: @koalityGreen;

								.prettyMenuOptionArrow {
									border-color: @koalityGreen;
								}
							}
						}

						&.red {

							.prettyMenuOptionContents {
								color: @koalityRed;

								.prettyMenuOptionArrow {
									border-color: @koalityRed;
								}			
							}
						}
					}

					&.selected {

						.prettyMenuOptionContents {
							color: @koalityWhite;
							background-color: @changeHover;

							.prettyMenuOptionArrow {
								right: 2px;
								border-color: @koalityWhite;
							}
						}

						.prettyMenuOptionTooth {
							border-left: @toothWidth solid @changeHover;
						}

						&.green {

							.prettyMenuOptionContents {
								color: @koalityWhite;
								background-color: @koalityGreen;

								.prettyMenuOptionArrow {
									border-color: @koalityWhite;
								}
							}

							.prettyMenuOptionTooth {
								border-left-color: @koalityGreen;
							}
						}

						&.red {

							.prettyMenuOptionContents {
								color: @koalityWhite;
								background-color: @koalityRed;

								.prettyMenuOptionArrow {
									border-color: @koalityWhite;
								}
							}

							.prettyMenuOptionTooth {
								border-left-color: @koalityRed;
							}
						}
					}
				}
			}
		}
	}

	.prettyMenuFooter {
		position: absolute;
		z-index: 100;
		left: 0px;
		right: @toothWidth;
		bottom: 0px;
		height: @menuFooterHeight;
		background-color: @panelFooterBackground;
		border-bottom-left-radius: @borderRadius;
		border-bottom-right-radius: @borderRadius;
	}
}

.prettyMenuContent {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;

	.prettyMenuContentHeader {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		height: @menuHeaderHeight;
		color: @koalityWhite;
		font-size: 18px;
		line-height: @menuHeaderHeight;
		background-color: @panelHeaderBackground;
		border-top-left-radius: @borderRadius;
		border-top-right-radius: @borderRadius;

		&.prettyMenuContentHeaderPadding {
			padding-left: 8px;
		}
	}

	.prettyMenuContentBody {
		position: absolute;
		top: @menuHeaderHeight;
		left: 0px;
		right: 0px;
		bottom: @menuFooterHeight;
		background-color: @panelBackground;
	}

	.prettyMenuContentFooter {
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 0px;
		height: @menuFooterHeight;
		background-color: @panelFooterBackground;
		border-bottom-left-radius: @borderRadius;
		border-bottom-right-radius: @borderRadius;
	}
}