@import '../constants';

.prettyOption {
	@height: 40px;
	@toothWidth: @height * .35;

	cursor: hand; cursor: pointer;

	position: relative;
	width: 100%;
	height: @height;

	.prettyOptionContents {
		@transitionTime: 0.25s;
		transition: all @transitionTime ease-in-out;
		-moz-transition: all @transitionTime ease-in-out;
		-webkit-transition: all @transitionTime ease-in-out;
		-o-transition: all @transitionTime ease-in-out;

		position: absolute;
		top: 0px;
		left: 0px;
		right: @toothWidth;
		bottom: 0px;
		padding: 0px 12px 0px 12px;
		color: @koalityGray;
		line-height: @height;
		font-weight: bold;
		background-color: @panelColor;
		border-bottom: 1px solid @backgroundColor;

		.prettyOptionText {
			display: inline;
			font-size: 18px;
		}

		.prettyOptionSubtext {
			display: inline;
			padding-left: 5px;
			font-size: 12px;
		}
	}

	.prettyOptionTooth {
		@transitionTime: 0.25s;
		transition: all @transitionTime ease-in-out;
		-moz-transition: all @transitionTime ease-in-out;
		-webkit-transition: all @transitionTime ease-in-out;
		-o-transition: all @transitionTime ease-in-out;

		position: absolute;
		top: 0px;
		right: @toothWidth;
		bottom: 0px;
		width: 0px;
		height: 0px;

		border-left: 0px solid @panelColor;
		border-top: @height/2 solid transparent;
		border-bottom: @height/2 solid transparent;
	}

	&.failed {
		.prettyOptionContents {	color: @koalityRed; }
	}

	&:hover {

		.prettyOptionTooth {
			right: 0px;

			border-left: @toothWidth solid @panelColor;
			border-top: @height/2 solid transparent;
			border-bottom: @height/2 solid transparent;
		}

		&.passed {

			.prettyOptionContents {
				color: @koalityGreen;
				background-color: @hoverColor;
			}

			.prettyOptionTooth {
				border-left-color: @hoverColor;
			}		
		}

		&.failed {

			.prettyOptionContents {
				color: @koalityRed;
				background-color: @hoverColor;
			}

			.prettyOptionTooth {
				border-left-color: @hoverColor;
			}		
		}
	}

	&.selected {

		.prettyOptionTooth {
			right: 0px;

			border-left: @toothWidth solid @panelColor;
			border-top: @height/2 solid transparent;
			border-bottom: @height/2 solid transparent;
		}

		&.passed {

			.prettyOptionContents {
				color: @koalityWhite;
				background-color: @koalityGreen;
			}

			.prettyOptionTooth {
				border-left-color: @koalityGreen;
			}
		}

		&.failed {

			.prettyOptionContents {
				color: @koalityWhite;
				background-color: @koalityRed;
			}

			.prettyOptionTooth {
				border-left-color: @koalityRed;
			}
		}
	}
}