@import '../constants';

.prettyTable {
	border-spacing: 0px;

	.title {
		color: @koalityGray;
		font-size: 1.1em;
		font-weight: bold;
	}

	tr {
		td {
			padding-top: 5px;
			padding-bottom: 5px;
			border-bottom: 1px solid @platformBackground;

			&:first-child {
				padding-left: 10px;
			}
		}
	}
}