#resetPassword {
	position: absolute;
	top: 25%;
	left: 0px;
	right: 0px;

	#resetPasswordError {
		text-align: center;
		color: rgb(255, 0, 0);
		font-size: 1.2em;
		font-weight: bold;
		margin-bottom: 12px;
	}

	#resetPasswordSuccess {
		text-align: center;
		font-size: 1.2em;
		font-weight: bold;
		margin-bottom: 12px;	
	}

	#resetPasswordButtonContainer {
		margin-top: 20px;
		width: 400px;
		text-align: right;
	}
}