amqp
pika==0.9.5
kombu==2.5.3
pycrypto==2.6
librabbitmq
sqlalchemy
pyyaml
msgpack-python
nose
beautifulsoup4
redis
greenlet
eventlet
gitpython
psycopg2
argparse
nose-testconfig
boto
rackspace-novaclient
requests
