@import '../../constants';


div.repositoryHeader {
	display: table-row;
	height: 50px;

	.repositoryHeaderContents {
		width: 100%;
		height: 100%;
		border-bottom: solid @strongBorderColor 1px;

		.repositoryName {
			font-size: 2.0em;
		}

		.repositorySubname {
			color: #999999;
		}
	}
}