div.account {
	display: table-cell;
	font-size: 1.0em;

	.accountContainer {
		display: table;
		width: 100%;
		height: 100%;

		.accountMenuContainer {
			display: table-cell;
			width: 180px;
		}

		.accountContentContainer {
			display: table-cell;
		}
	}
}
