@import '../../constants';


div.repositoryHeader {
	display: table-row;
	height: 50px;

	.repositoryNameAndDescription {
		display: table-cell;
		border-bottom: solid @strongBorderColor 1px;

		.repositoryName {
			padding-top: 8px;
			padding-left: 20px;
			font-size: 2.0em;
			font-weight: bold;
		}

		.repositoryDescription {
			padding-top: 2px;
			padding-left: 20px;
			color: #888888;
		}
	}

	.repositoryUrlContainer {
		display: table-cell;
		width: 360px;
		vertical-align: middle;
		border-bottom: solid @strongBorderColor 1px;

		.repositoryUrlLabel {
			margin-right: 8px;
			color: #444444;
		}

		.repositoryUrl {
			margin-top: 5px;
			width: 250px;
			height: 12px;
			background-color: white;
		}
	}
}