div.repositoryHeader {
	display: table-row;
	height: 55px;

	.repositoryHeaderContainer {
		display: table;
		width: 100%;
		height: 100%;

		.repositoryNameAndDescription {
			display: table-cell;
			vertical-align: top;
			border-bottom: 1px solid #AAAAAA;
		}

		.repositoryUrlAndMenu {
			display: table-cell;
			width: 500px;
			vertical-align: bottom;

		// 	.repositoryUrlAndMenuContainer {
		// 		display: table;
		// 		width: 100%;
		// 		height: 100%;

		// 		.urlAndMenuSpacer {
		// 			display: table-row;
		// 			height: 10px;
		// 		}
		// 	}
		}
	}
}