@import '../../constants';

#wizard {
	width: 800px;
	min-height: 600px;

	#wizardStepZero {
		text-align: center;

		#wizardStepZeroWelcome {
			margin-top: 150px;
			font-size: 1.2em;
		}

		button {
			margin-top: 25px;
		}
	}

	#wizardStepOne {

		#wizardStepOneInstructions {
			text-align: center;
			margin-top: 30px;
			font-size: 1.2em;
		}

		#wizardStepOneSubInstructions {
			text-align: center;
			margin-top: 5px;
		}

		#wizardStepTwoForm {
			margin-top: 30px;

			button {
				float: right;
				margin-right: 30px;
			}
		}
	}
}