div.consoleTextOutput {

	.consoleTextOutputContent {
		padding: 20px 20px 10px 20px;
		overflow-x: auto;

		.consoleTextOutputLine {
			font-family: 'Source Code Pro';
			white-space: nowrap;

			.consoleTextOutputLineNumber {
				margin-right: 15px;
				padding-right: 5px;
				color: #999999;
				width: 40px;
				text-align: right;
			}

			.consoleTextOutputLineText {

			}

			&:hover {
				background-color: rgba(200, 200, 200, 0.3);
			}
		}
	}
}