#addRepository {
	position: absolute;
	top: 25%;
	left: 0px;
	right: 0px;

	#firstStage {

		#addRepositoryButtonContainer {
			margin-top: 20px;
			text-align: right;
		}
	}

	#secondStage {

		#sshKeyInformation {
			font-size: 1.2em;
			text-align: center;
		}

		#sshKey {
			margin-top: 20px;
			width: 330px;
			height: 150px;
			resize: none;
		}

		#createRepositoryButtonContainer {
			margin-top: 10px;
			text-align: center;
		}
	}

	#thirdStage {

		#congratulationsMessage {
			font-size: 1.2em;
			text-align: center;
		}
	}
}