div.prettyDropdown {
	position: absolute;
	top: 100%;

	display: block;
	width: 300px;
	height: 400px;
	background-color: green;

	&.leftAligned {
		left: 0px;
	}

	&.rightAligned {
		right: 0px;
	}
}