div.prettyDropdown {
	position: absolute;
	top: 100%;
	display: block;
	background-color: rgba(160, 0, 0, 0.5);

	&.leftAligned {
		left: 0px;
		text-align: left;
	}

	&.rightAligned {
		right: 0px;
		text-align: right;
	}

	.prettyDropdownOption {
		cursor: hand;
		cursor: pointer;

		@backgroundColorTransitionTime: 0.5s;
		transition: background-color @backgroundColorTransitionTime ease-out;
		-moz-transition: background-color @backgroundColorTransitionTime ease-out;
		-webkit-transition: background-color @backgroundColorTransitionTime ease-out;
		-o-transition: background-color @backgroundColorTransitionTime ease-out;

		@height: 30px;
		padding: 0px 20px 0px 20px;
		height: @height;
		line-height: @height;
		white-space: nowrap;

		&:hover {
			background-color: rgba(255, 255, 255, 0.4);
		}
	}
}