@charset "UTF-8";
/* CSS Document */

@font-face {
  font-family: 'Din';
  font-style: normal;
  font-weight: 100;
  src: local('Din Light'), url('../../font/din/light.woff') format('woff');
}

@font-face {
  font-family: 'Din';
  font-style: normal;
  font-weight: 300;
  src: local('Din'), local('Din Regular'), url('../../font/din/regular.woff') format('woff');
}

@font-face {
  font-family: 'Din';
  font-style: normal;
  font-weight: 500;
  src: local('Din Medium'), url('../../font/din/medium.woff') format('woff');
}

@font-face {
  font-family: 'Din';
  font-style: normal;
  font-weight: 700;
  src: local('Din Bold'), url('../../font/din/bold.woff') format('woff');
}

@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), url('../../font/ptMono/regular.woff') format('woff');
}