@charset "UTF-8";
/* CSS Document */

div.section {
	width: 100%;
	text-align: center;
	padding: 6em 0;
	float:left; }

	div.container {
		width: 932px;
		margin: auto; }



		/*--- NAVBAR---*/
		div#navbar{
			font-size: 1.25em;
			padding: 15px 0; }


		/*--- PRE-PUSH ---*/
		div#pre-push div.quarters { margin: 0; }
		div#pre-push a.button { margin-top: 3em; }


		/*--- FEATURES ---*/


		/*--- SECURITY ---*/
		div#security div.security-option {
			width: 700px;
			height: 120px;
			padding-bottom: 3em;
			margin: auto;}
		
		div#security div.security-option:last-child { padding-bottom: 0; }

			div#security div.security-option div.security-thumb {
				width: 200px;
				height: inherit;
				float:left; }
			
			div#security div.security-option div.security-content {
				text-align: left;
				width: 475px;
				height: inherit;
				float: right; }


		/*--- CONTACT ---*/
		div#contact div#form {
			/* background-color: red; */
			width: 330px;
			text-align: left;
			margin: auto; }
			
			div#contact div#form p { margin-bottom: 5px; }
	
			div#contact div#form input {
				font-family: 'Din', sans-serif;	
				font-size: 16px;
				font-weight: 100;
				width: 310px;
				height: 20px;
				margin: 0;
				margin-bottom: 25px;
				padding: 10px 10px 8px;
				border: 1px solid #ccc;
				outline: none;
				-moz-border-radius: 3px;
					 border-radius: 3px; }
			
			div#contact div#form input:focus {
				-webkit-box-shadow: 0 0 8px rgba(130, 188, 0, 1); 
				   -moz-box-shadow: 0 0 8px rgba(130, 188, 0, 1);
						box-shadow: 0 0 8px rgba(130, 188, 0, 1);
				border: 1px solid #8ec63f; }
			
			div#contact div#form input:last-child { margin-bottom: 50px; }
			
			div#contact a.button { width: 280px; }
			
	
		/*--- FOOTER ---*/
		div#footer { padding: 3em 0; }



/*--- LAYOUT TOOLS ---*/

div.arrow {
	height: 18px;
	text-align: center; }


div.thirds,
div.quarters { width: 100%; }

	div.thirds div {
		width: 300px;
		margin-right: 16px;
		text-align: left;
		float: left; }
				
	div.thirds div:nth-child(3n+0) { margin-right: 0;}


	div.quarters div {
		width: 221px;
		margin-right: 16px;
		float: left; }
				
	div.quarters div:nth-child(4n+0) { margin-right: 0;}