@charset "UTF-8";
/* CSS Document */

div.section {
	background-color: #fff;
	width: 100%;
	text-align: center;
	padding: 6em 0;
	float:left; }

	div.container {
		width: 984px;
		margin: auto; }



/*--- HEADER ---*/
	div#header{ height: 50px;}
		
		div#header div.container {
			width: 1000px;
			margin: auto; }
	
			div#header div#logo a {
				color: #fff;
				font-size: 1.25em;
				line-height: 50px;
				float: left; }
				
			div#header div#logo a:hover { text-decoration: none; }
	
	
			div#header div#navigation{ float:right; }
	
				div#header div#navigation a {
					line-height: 50px;
					padding: 0 20px;
					margin: 0;
					display: inline-block;
					color: white;
					float: left; }
					
				div#header div#navigation a:hover {
					background-color: #74a528;
					text-decoration: none; }



/*--- LAYOUT TOOLS ---*/

	div.arrow {
		height: 18px;
		text-align: center; }


	div.thirds,
	div.quarters { width: 100%; }

		div.thirds div {
			width: 312px;
			margin-right: 24px;
			text-align: left;
			float: left; }
				
		div.thirds div:nth-child(3n+0) { margin-right: 0;}


		div.quarters div {
			width: 228px;
			margin-right: 24px;
			text-align: left;
			float: left; }

		div.quarters div:nth-child(4n+0) { margin-right: 0;}

		div.quarters div p { margin-top: 0; }


/*--- FOOTER ---*/
	div#footer { padding: 3em 0; }

		div#footer div.container {
			width: 1000px;
			margin: auto; }

			div#footer div.container div {
				text-align: left;
				margin-right: 40px;
				float: left; }
				
				div#footer div.container div p { margin-top: .5em;}
		
				div#footer div.container div a {color: #fff; }
			
				div#footer div.container div a:hover { text-decoration: underline; }
		
				/*--- Newsletter Section ---*/
				div#footer div.container div#newsletter {
					width: 20em;
					float: right;
					margin: 0; }
		
					div#footer div.container div input {
						width: 12em;
						height: 1.125em;
						margin-top: .5em;
						float: left; }
			
					div#footer div.container div a.button {
						font-size: 1em;
						margin-top: .5em;
						float:right; }
		
					div#footer div.container div a.button:hover { text-decoration: none;  }
