@import '../constants';

#welcome {
	width: 500px;

	.welcomeText {
		text-align: center;
		font-size: 3.0em;
	}

	svg {
		margin-top: 20px;
		width: 500px;
		height: 500px;
		border: 1px solid pink;

		.line {
			fill: none;
			stroke: red;
			stroke-width: 1.5px;
		}

		.xAxis, .yAxis {
			fill: @koalityWhite;

			path, line {
				fill: none;
				stroke: @koalityWhite;
				shape-rendering: crispEdges;
			}
		}
	}
}