@import '../constants';

#welcome {
	width: 800px;
	height: 500px;

	#welcomeChangeAnalytics {
		position: absolute;
		top: 50px;
		left: 20px;
		width: 500px;
		height: 300px;

		.allLine, .passedLine, .failedLine {
			fill: none;
			stroke-width: 3px;
		}

		.allLine { stroke: @koalityWhite; }
		.passedLine { stroke: @koalityGreen; }
		.failedLine { stroke: @koalityRed; }

		.xAxis, .yAxis {
			fill: @koalityGray;

			path, line {
				fill: none;
				stroke: @koalityGray;
				shape-rendering: crispEdges;
			}
		}
	}

	#welcomeChangeAnalyticsOptions {
		position: absolute;
		top: 30px;
		right: 30px;
		width: 200px;
		height: 300px;
		border: 1px solid @koalityGray;
		border-radius: 5px;
	}
}