@import '../constants';

#welcome {
	width: 850px;
	height: 400px;

	#welcomeAnalytics {
		position: absolute;
		top: 0px;
		left: 0px;
		right: @menuWidth + @panelSpacing;
		bottom: 0px;

		#welcomeChangeAnalytics {
			position: absolute;
			top: 30px;
			left: 10px;
			width: 450px;
			height: 225px;

			.allLine, .passedLine, .failedLine {
				fill: none;
				stroke-width: 3px;
			}

			.allLine { stroke: @koalityWhite; }
			.passedLine { stroke: @koalityGreen; }
			.failedLine { stroke: @koalityRed; }

			.xAxis, .yAxis {
				fill: @koalityGray;

				path, line {
					fill: none;
					stroke: @koalityGray;
					shape-rendering: crispEdges;
				}
			}
		}

		#welcomeChangeAnalyticsOptions {
			position: absolute;
			top: 30px;
			right: 30px;
			width: 140px;

			select {
				width: 100%;
				font-size: 1.2em;
			}

			#welcomeChangeAnalyticsRepositoryOption {

				#welcomeChangeAnalyticsRepositoryOptionTitle {
					margin-bottom: 4px;
					color: @koalityGray;
				}
			}

			#welcomeChangeAnalyticsDurationOption {
				margin-top: 10px;

				#welcomeChangeAnalyticsDurationTitle {
					margin-bottom: 4px;
					color: @koalityGray;
				}
			}
		}

		#welcomeChangeAnalyticsSummary {
			position: absolute;
			left: 30px;
			right: 30px;
			bottom: 30px;
			height: 60px;
			background-color: @platformBackground;
			border-radius: @borderRadius;

			.welcomeChangeAnalyticsSummaryItem {
				display: inline-block;
				margin: 15px 10px 0px 10px;
				width: 100px;
				height: 30px;
				text-align: center;

				.summaryItemTitle {
					color: @koalityGray;
					font-size: 0.8em;
				}

				.summaryItemValue {
					font-size: 1.2em;

					&.green { color: @koalityGreen; }
					&.red { color: @koalityRed; }
				}
			}
		}
	}

	#welcomeCurrentChanges {
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		width: @menuWidth;
	}
}