div.repositoryAdminGithubPanel {
	margin-top: 50px;
	margin-left: 50px;

	.repositoryAdminGithubPanelContent {
		width: 400px;

		.saveForwardUrlButtonContainer {
			margin-top: 20px;
			text-align: right;
		}
	}
}
