div.repository {
	display: table-cell;

	.repositoryContainer {
		display: table;
		width: 100%;
		height: 100%;

		.repositoryHeaderContainer {
			display: table-row;
			height: 55px;
		}

		.repositoryContentContainer {
			display: table-row;
		}
	}
}
