div.recoverPasswordSuccess {
	margin-left: auto;
	margin-right: auto;
	padding: 30px 40px 30px 40px;
	width: 450px;
	border-radius: 15px;
	background: -moz-linear-gradient(#FFFFFF, #E0E0E0);
	background: -webkit-linear-gradient(#FFFFFF, #E0E0E0);

	box-shadow: 0 0 6px 6px #808080;
	-moz-box-shadow: 0 0 6px 6px #808080;
	-webkit-box-shadow: 0 0 6px 6px #808080;

	.recovePasswordEmailSentMessage {
		font-size: 1.2em;
	}
}
