div.changesList {
	display: table-cell;
	width: 175px;
	height: 100%;
	border-right: #DDDDDD solid 1px;

	.changesListContainer {
		display: table;
		width: 100%;
		height: 100%;

		.changesListSearchContainer {
			display: table-row;
			height: 25px;
		}

		.changesListPanel {
			display: table-row;

			.changesListPanelContainer {
				width: 100%;
				height: 100%;
				overflow-x: visible;
				overflow-y: auto;
			}
		}
	}
}
