div.repositoryAdminMembersPanel {
	width: 100%;
	height: 100%;
	
	.inviteMembers {
		padding: 30px;

		.inviteMembersTitle {
			font-size: 1.5em;
		}

		.inviteMembersContent {
			margin-top: 10px;
			margin-left: auto;
			margin-right: auto;
			width: 75%;
		}
	}

	.memberPermissions {
		padding: 30px;

		.memberPermissionsTitle {
			font-size: 1.5em;
		}

		.memberPermissionsContent {
			margin-top: 10px;
			margin-left: auto;
			margin-right: auto;
			width: 80%;
		}
	}
}