div.accountSshKeysPanel {
	margin-top: 50px;
	margin-left: 50px;

	.currentKeysContainer {

		.currentKeysTitle {
			font-size: 1.5em;
		}

		.currentKeysContent {
			margin-top: 10px;
			margin-left: 25px;
			width: 500px;
		}
	}

	.addSshKeyContainer {
		margin-top: 50px;
	}
}
