div.headerMenu {
	display: table-cell;
	width: 220px;
	vertical-align: middle;
	font-size: 1.3em;
	font-weight: bold;

	.headerMenuOption {
		margin-right: 30px;

		&:last-child {
			margin-right: 0px;
		}

		&:hover {
			color: #1199FF;
		}
	}
}