<!-- <div id="admin">
	<centered-panel panel-title="Admin">
		<menu options="menuOptions" initial-option-name="repositories" current-option-name="currentView" option-click="menuOptionClick(optionName)">
			<div id="adminRepositories" class="prettyMenuContent" optionName="repositories" ng-controller="AdminRepositories">
				<div id="repositoriesTableContainer">
					<table id="repositoriesTable" class="prettyTable">
						<tr class="title">
							<td class="nameColumn" ng-click="orderByPredicate = 'name'; orderByReverse = !orderByReverse">Name</td>
							<td class="createdColumn" ng-click="orderByPredicate = 'timestamp'; orderByReverse = !orderByReverse">Created</td>
							<td class="removeColumn">Remove</td>
						</tr>
						<tr ng-repeat="repository in repositories | orderBy:orderByPredicate:orderByReverse">
							<td class="nameColumn">{{repository.name}}</td><td class="createdColumn">{{repository.timestamp*1000 | date:'medium'}}</td><td class="removeColumn"><span class="removeLink" ng-click="removeRepository(repository)">X</span></td>
						</tr>
					</table>
				</div>

				<div id="addRepositoryButtonContainer">
					<button ng-click="addRepository()">Add Repository</button>
				</div>
			</div>

			<div id="adminMembers" class="prettyMenuContent" optionName="members" ng-controller="AdminMembers">
				<div id="membersTableContainer">
					<table id="membersTable" class="prettyTable">
						<tr class="title">
							<td class="nameColumn" ng-click="orderByPredicate = 'lastName'; orderByReverse = !orderByReverse">Name</td>
							<td class="emailColumn" ng-click="orderByPredicate = 'email'; orderByReverse = !orderByReverse">Email</td>
							<td class="addedColumn" ng-click="orderByPredicate = 'timestamp'; orderByReverse = !orderByReverse">Added Date</td>
							<td class="removeColumn">Remove</td>
						</tr>
						<tr ng-repeat="member in members | orderBy:orderByPredicate:orderByReverse">
							<td class="nameColumn">{{member.firstName}} {{member.lastName}}</td><td class="emailColumn">{{member.email}}</td><td class="addedColumn">{{member.timestamp*1000 | date:'medium'}}</td><td class="removeColumn"><span class="removeLink" ng-click="removeMember(member)">X</span></td>
						</tr>
					</table>
				</div>

				<div id="addMembers" ng-controller="AdminAddMembers">
					<modal modal-visible="modalVisible">
						<div ng-show="stage == 'first'">
							<div id="addMembersDescription">Enter a list of email addresses</div>
							<div id="addMembersErrorMessage" ng-show="showError">There was an error inviting members. Check formatting.</div>
							<textarea id="membersToAddEmails" ng-model="membersToAdd.emails"></textarea>
							<div id="addMembersButtonContainer">
								<button ng-click="submit()">Add</button>
							</div>
						</div>

						<div ng-show="stage == 'second'">
							<div id="addMembersEmailSentMessage">Invites have been sent</div>
						</div>
					</modal>

					<div id="addMembersModalButtonContainer">
						<button ng-click="modalVisible=true">Add Members</button>
					</div>
				</div>
			</div>
		</menu>
	</centered-panel>
</div>
 -->



<centered-panel id="admin">
	<div id="adminOptions">
		<menu>
			<menu-header menu-header-padding>Admin</menu-header>
			<menu-options>
				<menu-option menu-option-text="Manage User Accounts" ng-click="menuOptionClick('users')" ng-class="{selected: currentView == 'users', green: currentView == 'users'}"></menu-option>
				<menu-option menu-option-text="Manage Repositories" ng-click="menuOptionClick('repositories')" ng-class="{selected: currentView == 'repositories', green: currentView == 'repositories'}"></menu-option>
			</menu-options>
		</menu>
	</div>

	<div id="adminUsers" ng-show="currentView == 'users'" ng-controller="AdminUsers">
		<menu-content>
			<menu-content-header menu-content-header-padding>Manage User Accounts<span id="addUsersLink" ng-click="addUsers.modalVisible=true">+ Add New Users</span></menu-content-header>
			<menu-content-body unselectable>
				<div id="adminUsersContent">
					<table class="prettyTable">
						<tr class="title">
							<td class="nameColumn" ng-click="orderByPredicate = 'lastName'; orderByReverse = !orderByReverse">Name</td>
							<td class="emailColumn" ng-click="orderByPredicate = 'email'; orderByReverse = !orderByReverse">Email</td>
							<td class="createdColumn" ng-click="orderByPredicate = 'timestamp'; orderByReverse = !orderByReverse">Created</td>
							<td class="removeColumn">Remove</td>
						</tr>

						<tr ng-show="users.length == 0">
							<td class="nameColumn" text-selectable>There are no users</td>
							<td class="emailColumn"></td>
							<td class="createdColumn"></td>
							<td class="removeColumn"></td>
						</tr>

						<tr ng-repeat="user in users | orderBy:orderByPredicate:orderByReverse">
							<td class="nameColumn" text-selectable>{{user.firstName}} {{user.lastName}}</td>
							<td class="emailColumn" text-selectable><a href="mailto:{{user.email}}?subject=Koality" target="_blank">{{user.email}}</a></td>
							<td class="createdColumn" text-selectable>{{user.timestamp*1000 | date:'MM/dd/yyyy'}}</td>
							<td class="removeColumn"><span class="removeLink" ng-click="removeUser(user)">Delete</span></td>
						</tr>
					</table>
				</div>
			</menu-content-body>
		</menu-content>

		<modal modal-visible="addUsers.modalVisible">
			<div id="adminAddUsers">
				<menu-content>
					<menu-content-header menu-content-header-padding>Add New Users</menu-content-header>
					<menu-content-body unselectable>
						<div id="adminAddUsersContent">
							<styled-form name="addUsersForm" id="adminAddUsersForm">
								<styled-form-field label="Emails" label-padding="true">
									<textarea type="text" ng-model="addUsers.emails" name="emails" placeholder="first@email.com, second@email.com, ..." required></textarea>
								</styled-form-field>
							</styled-form>

							<div id="adminAddUsersButtonContainer">
								<div id="adminAddUsersErrorMessage" ng-show="addUsers.showError">There was an error inviting members.<br>Check formatting.</div>
								<button ng-click="submitEmails()" ng-disabled="addUsersForm.$invalid">Add Users</button>
							</div>
						</div>
					</menu-content-body>
				</menu-content>
			</div>
		</modal>
	</div>

	<div id="adminRepositories" ng-show="currentView == 'repositories'" ng-controller="AdminRepositories">
		<menu-content>
			<menu-content-header menu-content-header-padding>Manage Repositories<span id="addRepositoryLink" ng-click="addRepository.modalVisible=true">+ Add Repository</span></menu-content-header>
			<menu-content-body unselectable>
				<div id="adminRepositoriesContent">
					<table class="prettyTable">
						<tr class="title">
							<td class="nameColumn" ng-click="orderByPredicate = 'lastName'; orderByReverse = !orderByReverse">Name</td>
							<td class="createdColumn" ng-click="orderByPredicate = 'timestamp'; orderByReverse = !orderByReverse">Created</td>
							<td class="removeColumn">Remove</td>
						</tr>

						<tr ng-show="repositories.length == 0">
							<td class="nameColumn" text-selectable>There are no repositories</td>
							<td class="emailColumn"></td>
							<td class="createdColumn"></td>
							<td class="removeColumn"></td>
						</tr>

						<tr ng-repeat="repository in repositories | orderBy:orderByPredicate:orderByReverse">
							<td class="nameColumn" text-selectable>{{repository.name}}</td>
							<td class="createdColumn" text-selectable>{{repository.timestamp*1000 | date:'MM/dd/yyyy'}}</td>
							<td class="removeColumn"><span class="removeLink" ng-click="removeRepository(repository)">Delete</span></td>
						</tr>
					</table>
				</div>
			</menu-content-body>
		</menu-content>

		<modal modal-visible="addRepository.modalVisible">
			<div id="adminAddRepository">
				<menu-content>
					<menu-content-header menu-content-header-padding>Add Repository</menu-content-header>
					<menu-content-body unselectable>
						<div id="adminAddRepositoryContentFirst" ng-show="addRepository.stage == 'first'">
							<styled-form name="addRepositoryForm" id="adminAddRepositoryForm" listen-for-enter-key="getSshKey()" ignore-enter-key-if="addRepositoryForm.$invalid">
								<styled-form-field label="Name" label-padding="true">
									<input type="text" ng-model="addRepository.name" name="name" placeholder="name" ng-pattern="/^[A-Za-z0-9-_]+$/" ng-maxlength="64" required focused>
									<span class="prettyFormError" tooltip="Name contains invalid characters" ng-class="{visible: addRepositoryForm.name.$dirty && addRepositoryForm.name.$invalid}">
										<img ng-src="{{'/img/icons/error.png' | fileSuffix}}">
									</span>
								</styled-form-field>
								<styled-form-field label="Forward Url">
									<input type="text" ng-model="addRepository.forwardUrl" name="forwardUrl" placeholder="git@awesome.com:awesome/repository.git" ng-maxlength="256" required>
									<span class="prettyFormError" tooltip="Invalid forward url" ng-class="{visible: addRepositoryForm.forwardUrl.$dirty && addRepositoryForm.forwardUrl.$invalid}">
										<img ng-src="{{'/img/icons/error.png' | fileSuffix}}">
									</span>
								</styled-form-field>
							</styled-form>

							<div id="adminAddRepositoryButtonContainer">
								<button ng-click="getSshKey()" ng-disabled="addRepositoryForm.$invalid">Add Repository</button>
							</div>
						</div>

						<div id="adminAddRepositoryContentSecond" ng-show="addRepository.stage == 'second'">
							hello
						</div>
					</menu-content-body>
				</menu-content>
			</div>
		</modal>
	</div>
</centered-panel>
