<div id="createAccount" ng-controller="CreateAccount">
	<centered-panel panel-title="Create Your Account">
		<form class="prettyForm" name="createAccountForm" novalidate>
			<div class="prettyFormRow">
				<div class="prettyFormLabel labelPadding">Email</div>
				<div class="prettyFormValue">
					<input type="email" ng-model="account.email" name="email" placeholder="email@address.com" ng-maxlength="256" autocomplete="on" required focused>
					<img class="prettyFormError" ng-src="{{formErrorImageSource}}" ng-class="{visible: createAccountForm.email.$dirty && createAccountForm.email.$invalid}" title="Invalid email.">
				</div>
			</div>
			<div class="prettyFormRow">
				<div class="prettyFormLabel labelPadding">Password</div>
				<div class="prettyFormValue">
					<input type="password" ng-model="account.password" name="password" placeholder="p4ssW0rd" ng-pattern="/^(?=.*[a-zA-Z])(?=.*\d).+$/" ng-minlength="8" ng-maxlength="256" required>
					<img class="prettyFormError" ng-src="{{formErrorImageSource}}" ng-class="{visible: createAccountForm.password.$dirty && createAccountForm.password.$invalid}" title="Password must contain at least 8 characters, a letter, and a number.">
				</div>
			</div>
			<div class="prettyFormRow">
				<div class="prettyFormLabel labelPadding">Confirm password</div>
				<div class="prettyFormValue">
					<input type="password" ng-model="account.confirmPassword" name="confirmPassword" placeholder="p4ssW0rd, again" ng-pattern="/^(?=.*[a-zA-Z])(?=.*\d).+$/" ng-minlength="8" ng-maxlength="256" required>
					<img class="prettyFormError" ng-src="{{formErrorImageSource}}" ng-class="{visible: createAccountForm.confirmPassword.$dirty && account.password != account.confirmPassword}" title="Passwords do not match.">
				</div>
			</div>
			<div class="prettyFormRow">
				<div class="prettyFormLabel labelPadding">First name</div>
				<div class="prettyFormValue">
					<input type="text" ng-model="account.firstName" name="firstName" placeholder="First" ng-pattern="/^[A-Z][-'a-zA-Z]+$/" ng-maxlength="64" autocomplete="on" required>
					<img class="prettyFormError" ng-src="{{formErrorImageSource}}" ng-class="{visible: createAccountForm.firstName.$dirty && createAccountForm.firstName.$invalid}" title="Invalid first name.">
				</div>
			</div>
			<div class="prettyFormRow">
				<div class="prettyFormLabel labelPadding">Last name</div>
				<div class="prettyFormValue">
					<input type="text" ng-model="account.lastName" name="lastName" placeholder="Last" ng-pattern="/^[A-Z][-'a-zA-Z]+$/" ng-maxlength="64" autocomplete="on" required>
					<img class="prettyFormError" ng-src="{{formErrorImageSource}}" ng-class="{visible: createAccountForm.lastName.$dirty && createAccountForm.lastName.$invalid}" title="Invalid last name.">
				</div>
			</div>
			<div class="prettyFormRow">
				<div class="prettyFormLabel labelPadding"></div>
				<div class="prettyFormValue">
					<input type="checkbox" ng-model="account.rememberMe" ng-true-value="yes" ng-false-value="no" name="rememberMe"> Remember me
				</div>
			</div>
		</form>

		<div id="createAccountButtonContainer">
			<button ng-click="createAccount()" ng-disabled="createAccountForm.$invalid">Create</button>
		</div>
	</centered-panel>
</div>

<script>Tipped.create('.prettyFormError', {skin: 'default', hook: 'rightmiddle'});</script>