<div id="login">
	<centered-panel panel-title="Login">
		<styled-form name="loginForm">
			<styled-form-field label="Email"><input type="email" ng-model="account.email" name="email" placeholder="email@address.com" ng-maxlength="256" autocomplete="on" required focused></styled-form-field>
			<styled-form-field label="Password"><input type="password" ng-model="account.password" name="password" placeholder="p4ssW0rd" ng-maxlength="256" required></styled-form-field>
			<styled-form-field label=""><input type="checkbox" ng-model="account.rememberMe" ng-true-value="yes" ng-false-value="no" name="rememberMe"> Remember me</styled-form-field>
		</styled-form>

		<div id="loginButtonContainer">
			<button ng-click="login()" ng-disabled="loginForm.$invalid">Login</button>
		</div>

		<div id="loginMemberOptions">
			<span class="memberOptionsTitle">Not a member?</span>
			<a href="/create/account" class="createAccountOption">Create an account</a> | <a href="/recoverPassword" class="recoverPasswordOption">Recover password</a>
		</div>
	</centered-panel>
</div>
