<div id="recoverPassword">
	<centered-panel panel-title="Recover Password">
		<styled-form name="recoverPasswordForm">
			<styled-form-field label="Email"><input type="email" ng-model="account.email" name="email" placeholder="email@address.com" ng-maxlength="256" autocomplete="on" required focused></styled-form-field>
		</styled-form>

		<div id="recoverPasswordButtonContainer">
			<button ng-click="recoverPassword()" ng-disabled="recoverPasswordForm.$invalid">Email me</button>
		</div>
	</centered-panel>
</div>
