<div id="recoverPassword" ng-controller="RecoverPassword" unselectable>
	<div class="recoverPasswordFormContainer">
		<div class="recoverPasswordForm prettyPanel">
			<div class="recoverPasswordTitle">Recover Password</div>

			<form class="prettyForm" name="recoverPasswordForm" novalidate>
				<div class="prettyFormRow">
					<div class="prettyFormLabel labelPadding">Email</div>
					<div class="prettyFormValue">
						<input type="email" ng-model="account.email" name="email" placeholder="email@address.com" ng-maxlength="256" autocomplete="on" required focused>
					</div>
				</div>
			</form>

			<div class="recoverPasswordButtonContainer">
				<button ng-click="recoverPassword()">Email me</button>
			</div>
		</div>
	</div>
</div>
