<div id="recovePassword" ng-controller="RecoverPassword">
	<centered-panel panel-title="Recover Password">
		<form class="prettyForm" name="recoverPasswordForm" novalidate>
			<div class="prettyFormRow">
				<div class="prettyFormLabel labelPadding">Email</div>
				<div class="prettyFormValue">
					<input type="email" ng-model="account.email" name="email" placeholder="email@address.com" ng-maxlength="256" autocomplete="on" required focused>
				</div>
			</div>
		</form>

		<div id="recoverPasswordButtonContainer">
			<button ng-click="recoverPassword()">Email me</button>
		</div>
	</centered-panel>
</div>
