<div id="removeRepository">
	<centered-panel panel-title="Remove a Repository">
		<div id="firstStage" ng-show="stage == 'first'">
			<div id="removeWarningMessage">
				Are you sure you want to remove {{repository.name}}?<br>
				This action is NOT reversible. This CANNOT be undone.
			</div>

			<div id="warningImages">
				<img ng-src="{{'/img/icons/error.png' | fileSuffix}}" ng-repeat="index in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
			</div>

			<div id="removeRepositoryButtonContainer">
				<button ng-click="removeRepository()">Remove</button>
			</div>
		</div>

		<div id="secondStage" ng-show="stage == 'second'">
			<div id="repositoryRemovedMessage">
				{{repository.name}} has been removed.<br>
				Users no longer have access to this repository via Koality.
			</div>
		</div>
	</centered-panel>
</div>
