<div id="repository">
	<div id="repositoryHeaderPanel" unselectable>
		<span id="repositoryHeaderTitle">> {{name}}</span>
		<div id="repositoryHeaderLink">
			<img ng-src="{{'/img/icons/link.png' | fileSuffix}}">
			<input ng-model="link" highlight-on-first-click readonly>
		</div>
	</div>

	<div id="repositoryChangesPanel" unselectable ng-controller="RepositoryChanges">
		<div id="repositoryChangesSearch">
			<img ng-src="{{'/img/icons/search.png' | fileSuffix}}">
			<input ng-model="query">
		</div>
		<div id="repositoryChanges" notify-on-bottom-scroll="scrolledToBottom()">
			<div class="repositoryChange" ng-repeat="change in changes" ng-click="changeClick(change)" ng-class="{selected: change.id == currentChangeId, queued: change.status == 'queued', running: change.status == 'running', passed: change.status == 'passed', failed: change.status == 'failed'}">{{change.number}}</div>
		</div>
	</div>

	<div id="repositoryChangeDetailsPanel" ng-controller="RepositoryDetails">
		<div id="repositoryChangeDetails">
			<div id="repositoryChangeDetailsStages">
				<span class="repositoryChangeStage" ng-repeat="stage in stages" ng-click="stageClick(stage)" ng-class="{selected: stage.id == currentStageId, queued: stage.status == 'queued', running: stage.status == 'running', passed: stage.status == 'passed', failed: stage.status == 'failed'}">{{stage.name}}</span>
			</div>

			<div id="repositoryChangeDetailsOutput">
				<div class="consoleText">
					<div class="consoleTextLine" ng-repeat="line in lines">
						<span class="consoleTextLineNumber">{{line.number}}</span><span class="consoleTextLineText">{{line.text}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>