<div id="repository">
	<div id="repositoryHeaderPanel" unselectable>
		<span id="repositoryHeaderTitle">> {{name}}</span>
		<div id="repositoryHeaderLink">
			<img ng-src="{{'/img/icons/link.png' | fileSuffix}}">
			<input ng-model="link" highlight-on-first-click readonly>
		</div>
	</div>

	<div id="repositoryChangesPanel" unselectable ng-controller="RepositoryChanges">
		<div id="repositoryChangesSearch">
			<img ng-src="{{'/img/icons/search.png' | fileSuffix}}">
			<input ng-model="query">
		</div>
		<div id="repositoryChanges" notify-on-bottom-scroll="scrolledToBottom()">
			<div class="repositoryChange" ng-repeat="change in changes" ng-click="changeClick(change)" ng-class="{selected: change.id == currentChangeId, queued: change.status == 'queued', running: change.status == 'running', passed: change.status == 'passed', failed: change.status == 'failed'}">{{change.number}}</div>
		</div>
	</div>

	<div id="repositoryChangeDetailsPanel" ng-controller="RepositoryDetails">
		<div id="repositoryChangeDetails">
			<div id="repositoryChangeDetailsStages" unselectable>
				<span class="repositoryChangeStage" ng-click="stageClick(null)" ng-class="{selected: currentStageId == null}">Home</span>
				<span class="repositoryChangeStage" ng-repeat="stage in stages" ng-click="stageClick(stage)" ng-class="{selected: stage.id == currentStageId, queued: stage.status == 'queued', running: stage.status == 'running', passed: stage.status == 'passed', failed: stage.status == 'failed'}">{{stage.name}}</span>
			</div>

			<div id="repositoryChangeDetailsOutput">
				<div id="changeDetailsHome" ng-show="currentChangeId != null && currentStageId == null">
					<styled-form>
						<styled-form-field label="User">{{metadata.user.firstName}} {{metadata.user.lastName}}</styled-form-field>
						<styled-form-field label="Message">{{metadata.message}}</styled-form-field>
						<styled-form-field label="Target">{{metadata.target}}</styled-form-field>
						<styled-form-field label="Commit time">{{metadata.commitTime*1000 | date:'medium'}}</styled-form-field>
					</styled-form>
				</div>

				<div id="changeConsoleText" auto-scroll-to-bottom="lines" ng-show="currentChangeId != null && currentStageId != null">
					<div class="consoleTextLine" ng-repeat="line in lines">
						<span class="consoleTextLineNumber">{{$index + 1}}</span><span class="consoleTextLineText" ng-bind-html="line | ansiparse"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>