<div id="repository">
	<div id="repositoryHeaderPanel" unselectable>
		<span id="repositoryHeaderTitle">> {{name}}</span>
		<input id="repositoryHeaderLink" ng-model="link" highlight-on-first-click readonly>
	</div>

	<div id="repositoryChangesPanel" unselectable>
		<div id="repositoryChangesSearch">
			<input ng-model="query">
		</div>
		<div id="repositoryChanges">
			<div class="repositoryChange" ng-repeat="change in changes" ng-click="changeClick(change)">{{change.number}}</div>
		</div>
	</div>

	<div id="repositoryChangeDetailsPanel" ng-show="currentChange">

	</div>
</div>