<div id="resetPassword">
	<centered-panel panel-title="Reset Password">
		<div id="resetPasswordError" ng-show="showError">Email address does not exist</div>
		<div id="resetPasswordSuccess" ng-show="showSuccess">Password sent</div>
		<styled-form name="resetPasswordForm" listen-for-enter-key="resetPassword()" ignore-enter-key-if="resetPasswordForm.$invalid">
			<styled-form-field label="Email" label-padding="true"><input type="email" ng-model="account.email" name="email" placeholder="email@address.com" ng-maxlength="256" autocomplete="on" required focused></styled-form-field>
		</styled-form>

		<div id="resetPasswordButtonContainer">
			<button ng-click="resetPassword()" ng-disabled="resetPasswordForm.$invalid">Email me</button>
		</div>
	</centered-panel>
</div>
