<centered-panel id="resetPassword">
	<menu-content>
		<menu-content-header menu-content-header-padding ng-class="{red: showError}">Reset Password<span id="resetPasswordError" ng-show="showError">Email does not exist</span></menu-content-header>
		<menu-content-body unselectable>
			<div id="resetPasswordContent" ng-show="!showSuccess">
				<styled-form name="resetPasswordForm" listen-for-enter-key="resetPassword()" ignore-enter-key-if="resetPasswordForm.$invalid">
					<styled-form-field label="Email" label-padding="true">
						<input type="email" ng-model="account.email" name="email" placeholder="email@address.com" ng-maxlength="256" autocomplete="on" required focused>
					</styled-form-field>
					<styled-form-field label="">
						<button id="resetPasswordButton" ng-click="resetPassword()" ng-disabled="resetPasswordForm.$invalid">Send</button>
					</styled-form-field>
				</styled-form>
			</div>

			<div id="resetPasswordSuccess" ng-show="showSuccess">
				Email has been sent to {{account.email}}
			</div>
		</menu-content-body>
	</menu-content>
</centered-panel>
