<centered-panel id="resetPassword">
	<menu-content>
		<menu-content-header menu-content-header-padding>Reset Password
			<span id="resetPasswordError" ng-show="showError">Email does not exist</span>
			<span id="resetPasswordSuccess" ng-show="showSuccess">New password sent</span>
		</menu-content-header>
		<menu-content-body unselectable>
			<div id="resetPasswordContent">
				<styled-form name="resetPasswordForm" listen-for-enter-key="resetPassword()" ignore-enter-key-if="resetPasswordForm.$invalid">
					<styled-form-field label="Email" label-padding="true">
						<input type="email" ng-model="account.email" name="email" placeholder="email@address.com" ng-maxlength="256" autocomplete="on" required focused>
					</styled-form-field>
					<styled-form-field label="">
						<button id="resetPasswordButton" ng-click="resetPassword()" ng-disabled="resetPasswordForm.$invalid">Email me</button>
					</styled-form-field>
				</styled-form>
			</div>
		</menu-content-body>
	</menu-content>
</centered-panel>
