.welcome {
	display: table-cell;
	vertical-align: middle;

	.welcomeContents {
		margin-left: auto;
		margin-right: auto;
		width: 400px;

		.description {
			padding-bottom: 30px;
			text-align: center;
			font-size: 3.0em;
			font-weight: bold;
		}

		.welcomeImage {
			width: 400px;
		}
	}
}
