@import '../constants';

#createAccount {
	position: absolute;
	top: 25%;
	left: 0px;
	right: 0px;

	#createAccountButtonContainer {
		margin-top: 15px;
		text-align: right;
	}

	#createAccountErrorMessage {
		font-size: 1.2em;
	}
}
