#createAccount {
	display: table-cell;
	vertical-align: middle;

	.createAccountForm {
		@backgroundColor: rgba(40, 40, 40, 1.0);

		margin-left: auto;
		margin-right: auto;
		padding: 30px 35px 30px 35px;
		background-color: @backgroundColor;
		border: 1px solid lighten(@backgroundColor, 15%);
		border-radius: 8px;
	}
}