div.changeMetadata {
	font-size: 1.2em;

	.changeMetadataContainer {
		margin-top: 20px;
		margin-left: 20px;
		width: 500px;

		.changeTimeInterval {
			margin-bottom: 20px;
			text-align: center;

			.changeStartTime {

			}

			.changeTimeDivider {
				padding-left: 20px;
				padding-right: 20px;
			}

			.changeEndTime {

			}
		}
	}
}