div.createRepository {
	display: table-cell;
	vertical-align: middle;

	.createRepositoryInformation {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
		width: 600px;
		text-align: left;
		font-size: 1.5em;
	}

	.createRepositoryForm {
		display: table;
		padding: 40px;
		background-color: rgba(240, 240, 240, 0.6);
		margin-left: auto;
		margin-right: auto;

		border: 10px solid rgba(200, 200, 200, 0.5);
		border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		-o-border-radius: 15px;

		.createRepositoryRow {
			display: table-row;

			.createRepositoryLabel {
				display: table-cell;
				padding-top: 5px;
				padding-right: 20px;
				vertical-align: top;
				text-align: right;
				font-size: 1.2em;
			}

			.createRepositoryValue {
				display: table-cell;
				text-align: center;

				input {
					margin: 0px;
					width: 250px;
				}

				textarea {
					margin: 0px;
					width: 250px;
					height: 100px;
					resize: none;
				}

				.errorText {
					display: none;
					padding-top: 5px;
					padding-left: 5px;
					text-align: left;
					color: rgba(200, 0, 0, 1.0);
				}
			}
		}

		.createRepositoryEmptyRow {
			height: 10px;
		}
	}

	.createRepositoryButtonContainer {
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		width: 600px;
		text-align: right;

		.createRepositoryButton {

		}
	}
}