.invalidRepositoryState {
	display: table-cell;
	vertical-align: middle;

	.contents {
		margin-left: auto;
		margin-right: auto;
		width: 800px;
		text-align: center;

		.description {
			padding-bottom: 30px;
			font-size: 1.5em;
			font-weight: bold;
		}

		.welcomeImage {
			width: 400px;
		}
	}
}
